<div class="CEHeader">
    <div id="AOIname" tabindex="0">{{AOI.name.toUpperCase()}}</div>
    <div id="shareIcons">
        <div id="shareIcon" class="" title="Print" role="button"><a ui-sref="print" href=""><img src="img/Printer.svg"
                                                                                                 alt=""></a></div>
        <div id="shareIcon" class="" title="Share" role="button">

            <info-directive class="infobutton mainbutton floatitright" modal-template="Share1.html"
                            message="message"
                            metadata-url="{{AOI.ShowURL()}}"
                            modal-img="img/Export.svg" alt=""></info-directive>
        </div>
        <div id="shareIcon" class="" title="Metadata" role="button"><a ui-sref="meta" href=""><img
                src="img/MetadataIcon.svg"
                alt=""></a></div>

    </div>
</div>
<br class="clear"/>