<div class="infographic-box-medium">
    <div id="wrbox1" >
        <div id="slider_but11" class="sliderbutton">
            <div ng-class="AOI.beachNourishIsVisable ? 'flip' : 'rotateCounterwise180'"
                 ng-click="AOI.togglebeachNourish()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div id="slbuttxt0" class="sliderbuttontext">CLICK TO TURN LAYER ON AND OFF</div>
        <div id="boemline1">Beach Nourishment Projects</div>

        <div style="width:85%;padding-bottom: 8px" class="floatitleft">
            <span class="GreyText14 floatitleft padLeft15"><img style="padding-top: 5px;" class="GreyText14 floatitleft padLeft15" src="img/BeachNourishmentGraphicLine.svg">Within 15 miles </span>


            <!-- iButton start-->
            <div style="height: 19px;">
                <info-directive class="infobutton mainbutton " modal-template="modal11.html"
                                message="message"
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal11.html">
                    <div id="custom-modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            This data is currently only available for South Carolina, new data will be added as it becomes available.
                            <!--div class="footnote"><a target="_blank" href={{metadataurl}}>Wind Resource Potential Metadata</a></div-->
                        </div>
                        <div id="fade"></div>
                    </div>
                </script>
            </div> <!-- iButton end-->
            <div class="floatitleft GreyText14 padLeft15">Sand Volume (y<sup>3</sup>) per Beach Nourishment Project</div>

            <div  class="floatitleft GreyText10 padLeft15" >
                <table BORDERCOLOR=white border="2">
                    <tr ng-repeat="beach in AOI.beachNur | unique: 'BEACH_AREA' | orderBy : 'Dist_Mi'">



                        <td ng-if="$odd" style="background-color:#f1f1f1;text-align: center;width: 165px;">
                            <div>{{beach.BEACH_AREA}}</div>
                            <div>({{beach.Dist_Mi.toFixed(2)}}Mi)</div>
                        </td>

                        <td ng-if="$even" style="text-align: center;width: 165px;">
                            <div>{{beach.BEACH_AREA}}</div>
                            <div>({{beach.Dist_Mi.toFixed(2)}}Mi)</div>
                        </td>
                        <td>

                            <table >
                                <tr ng-repeat="year in AOI.beachNur | filter: {BEACH_AREA: beach.BEACH_AREA}:true | orderBy : 'YEAR'">
                                  <!--
                                    <td style="width: 30px;">{{year.YEAR}} </td>
                                    <td style="width: 70px;">{{year.SAND_VOL_C}}</td>
                                    -->
                                    <td style="width: 367px;"><div ng-class="'a_'+year.YEAR" style="height: 5px" ng-style="{'width': (year.SAND_VOL_C/3400000)*100 + '%' };"></div></td>
                                </tr>

                            </table>

                        </td>
                    </tr>
                </table>
                <div style="width:600px" class="floatitleft"><div style="height:8px;width:165px" class="floatitleft"></div><div style="width:185px" class="floatitleft">0y<sup>3</sup></div><div style="width:168px" class="floatitleft">1.2My<sup>3</sup></div><div style="width:50px" class="floatitleft" >3.4My<sup>3</sup></div></div>





            </div>

            </div>
            <div style="width:15%;padding-bottom: 8px" class="floatitleft">
                <div  style="height:38px">

                </div>
                <div ng-repeat="yearx in AOI.beachNur | unique: 'YEAR' | orderBy : 'YEAR'"   class=" GreyText12 padLeft25">
                    <svg width="8" height="8">
                        <rect width="8" height="8" ng-class="'a_'+yearx.YEAR" />
                    </svg> {{yearx.YEAR}}
                </div>

            </div>

        </div>
    </div>
