<div class="infographic-box-tiny">
    <div id="wrbox1">


        <div class="infographicline1">Area of Polygon


        </div>
        <div>
                <span class="CommonSwatchLine">
                <div class="swatch floatitleft"><img src="img/polygon.svg"></div>
                    <div class="CEAreaData">
                        <div>Area Units</div>
                        <div><b>mi<sup>2</sup></b> {{AOI.CEAreaOfPoly[0].Area_mi2.toFixed(1)}}</div>
                        <div><b>nm<sup>2</sup></b> {{AOI.CEAreaOfPoly[0].Area_nm2.toFixed(1)}}</div>
                        <div><b>km<sup>2</sup></b> {{AOI.CEAreaOfPoly[0].Area_km2.toFixed(1)}}</div>
                    </div>
                </span>

        </div>

    </div>
</div>
