<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div>


        <div class="infographic-title">
            <div class="float-left">Area of Polygon</div>
            <!-- iButton start-->
            <div class="iModal">
                <info-directive class="iModal-button" modal-template="modal27.html" message="message"
                                alttext="Graphic represents the selected area symbology (orange polygon) on the map and displays the area calculation in miles squared, nautical miles squared, and kilometers squared."
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal27.html">
                    <div   class="modal">
                        <div class="modal-overlay">
                            <a href="" class="modal-overlay--close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Numbers represent the area of the selected polygon(s) in various units.

                            <br>


                        </div>
                        <div class="modal-fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->
        </div>

        <div>
            <div></div>
            <div class="CommonSwatchLine">
                <div class="swatch float-left"><img src="img/area-polygon-01.svg"></div>
                <div class="CEAreaData padtop5">

                    <div><b>mi<sup>2</sup></b> {{AOIvm.AOI.CEAreaOfPoly[0].Area_mi2.toLocaleString()}}</div>
                    <div><b>nm<sup>2</sup></b> {{AOIvm.AOI.CEAreaOfPoly[0].Area_nm2.toLocaleString()}}</div>
                    <div><b>km<sup>2</sup></b> {{AOIvm.AOI.CEAreaOfPoly[0].Area_km2.toLocaleString()}}</div>
                </div>
            </div>

        </div>

    </div>
</div>
