<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Applicable Federal Geo Regulations</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element lists the applicable federal geo regulations that are effective in the selected area with hyperlinks for additional information."
                            modal-img="img/info.svg"
                            modal-title="Applicable Federal Geo Regulations"
                            modal-text="Federal Geo Regulations listed fall within and apply to the defined area. Links will take
                        you to additional information regarding each specific regulation or look it up here:
                        <a href='https://coast.noaa.gov/oceanlawsearch/#/search' target='_blank'>Ocean Law
            Search</a>"

            ></info-directive>


        </div>
        <!-- iButton end-->
    </div>
    <div class="infographic-dataarea">
        <div class="infographic-dataarea--split">
            <div ng-show="!AOIvm.AOI.CEFedGeoRegs.length || !AOIvm.AOI.CEFedGeoRegs[0].TOTAL_CNT">No Geo Regulations
                were identified for this area
            </div>
            <div ng-repeat="x in AOIvm.AOI.CEFedGeoRegs | unique: 'FederalGeoRegulationsName' | orderBy : 'FederalGeoRegulationsName'">
                <a ng-if="$odd" target="_blank" href="{{x.DescriptionURL}}"> {{x.FederalGeoRegulationsName}} </a>
            </div>
        </div>
        <div class="infographic-dataarea--split">
            <div ng-repeat="x in AOIvm.AOI.CEFedGeoRegs | unique: 'FederalGeoRegulationsName' | orderBy : 'FederalGeoRegulationsName'">
                <a ng-if="$even" target="_blank" href="{{x.DescriptionURL}}"> {{x.FederalGeoRegulationsName}} </a>
            </div>
        </div>
    </div>
</div>
