<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Places</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element Lists the cities, their population from 2010, and their distance to the selected area that are within 10 miles. Also listed are the three closest Tribal lands within 50 miles."
                            modal-img="img/info.svg"
                            modal-title="Places"
                            modal-text=" These places represent other local entities who may have interest in the ocean activities
                        occuring in the defined area. Distance is to the closest perimeter of the polygon(s)."
            ></info-directive>

        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="AOIvm.AOI.toggleFull===true">
            <div ng-class="AOIvm.AOI.CEPlaceLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="AOIvm.AOI.toggleCEPlaceLayer();AOIvm.AOI.toggleCETribalLayer()"
                 ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="AOIvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>

    <div class="infographic-icon">
        <div class="icon-img">
            <img class="icon-img--fill" src="img/Map_marker.svg">
        </div>
        <div class="icon-dataarea">Cities</div>
    </div>

    <div class="infographic-dataarea">
        <table class="table-places">

            <tr>
                <th>Cities</th>
                <th>Population (2010)</th>
                <th>Distance in Miles</th>
            </tr>
            <tr ng-repeat="x in AOIvm.AOI.CEPlaces ">
                <td class="table-places--capitolize">
                    <div>{{x.Name| lowercase}}</div>
                </td>
                <td>
                    <div ng-if="x.Census2010>0">{{x.Census2010| number}}</div>
                </td>
                <td>
                    <div>{{x.Dist_Mi.toFixed(2)}}</div>
                </td>


            </tr>
        </table>
    </div>

    <div class="infographic-icon">
        <div class="icon-img">
            <img class="icon-img--fill" src="img/tribal-lands.svg">
        </div>
        <div class="icon-dataarea">&nbsp;Coastal Tribal Lands</div>
    </div>

    <div class="infographic-dataarea">

        <div ng-hide="AOIvm.AOI.CETribalLands.length">No Tribal Lands were identified within 50 miles of this area</div>
        <table ng-show="AOIvm.AOI.CETribalLands.length" class="table-tribe">

            <tr>
                <th>Tribal Lands</th>
                <th>Distance in Miles</th>
            </tr>

            <tr ng-repeat="x in AOIvm.AOI.CETribalLands | orderBy : 'Dist_Mi'">
                <td>
                    <div>{{x.NAMELSAD}}</div>
                </td>

                <td>
                    <div>{{x.Dist_Mi.toFixed(2)}}</div>
                </td>


            </tr>
        </table>
    </div>

</div>

