<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{CEConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{CEConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{CEConf.name}}
                            modal-text={{CEConf.modaltext}}
            ></info-directive>

        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="AOIvm.AOI.toggleFull===true">
            <div ng-class="AOIvm.AOI.CEPlaceLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="AOIvm.AOI.toggleCEPlaceLayer()"
                 ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="AOIvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div class="infographic-narrative" bind-html-compile="CEConf.narrativetext">
    </div>
    <div class="infographic-icon">
        <div class="icon-img">
            <img class="icon-img--fill" src="img/Map_marker.svg">
        </div>
        <div class="icon-dataarea">Cities</div>
    </div>

    <div class="infographic-dataarea">
        <table class="table-places">

            <tr>
                <th>Cities</th>
                <th>Population (2010)</th>
                <th>Distance in Miles</th>
            </tr>
            <tr ng-repeat="x in AOIvm.AOI.CEPlaces ">
                <td class="table-places--capitolize">
                    <div>{{x.Name| lowercase}}</div>
                </td>
                <td>
                    <div ng-if="x.Census2010>0">{{x.Census2010| number}}</div>
                </td>
                <td>
                    <div>{{x.Dist_Mi.toFixed(2)}}</div>
                </td>


            </tr>
        </table>
    </div>


    <div class="infographic-rulelogic" bind-html-compile="CEConf.ruletext">
    </div>
</div>

