<!--
indivdual infographics ID's 26-45 for CE
-->
<a ng-click="AOI.toggleFullSlider('CE')" href="" id="togglefull" class="toggleicon"
   ng-style="{'top':(window.innerHeight /2)+'px'}"><img class="toggleimg" src="img/ArrowButton.svg"></a>

<div class="padding30 slide-right">
    <ng-include src="'partials/AOI_head.html'"></ng-include>

    <div id="sliderData">
        <div id="AOItab" class="AOItabClass"> Common Elements
            <div class="narrative" ng-bind-html="AOI.narratives[0].narrative | unsafe"></div>
            <div ng-repeat="CEConf in CEConfig | orderBy: 'priority'">
                <div class="zeroheightkludge" ng-include="CEConf.filename"></div>
            </div>
        </div>
    </div>
</div>