<div class="padding30 slide-right">
    <div class="CEHeader"></div>

    <div id="sliderData">
        <div class="sBox">

        </div>
    </div>
    <!-- iButton start-->
    <div>

        <info-directive class="infobutton mainbutton" modal-template="modalDraw.html" message="message"
                        modal-img="img/info.svg"></info-directive>

        <script type="text/ng-template" id="modalDraw.html">
            <div id="custom-modal" class="modal">
                <div id="overlay">

                    This process will take approximately two minutes to run. You can hit Reset to cancel the process.


                </div>
                <div id="fade"></div>
            </div>
        </script>

    </div>
    <!-- iButton end-->
</div>


