<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{ECConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{ECConf.alttext}}
                            modal-img="img/info.svg"
                            modal-text={{ECConf.modaltext}}
                            modal-title={{ECConf.name}}

            ></info-directive>


        </div>
        <!-- iButton end-->
    </div>
    <div class="infographic-narrative" bind-html-compile="ECConf.narrativetext">
    </div>
    <div class="infographic-dataarea">

        <highchart id="OceanJobContributionsChart" config="ECvm.AOI.OceanJobContributionsChart"
                   class="highcharts-oceanjobcontributions"></highchart>

    </div>
    <div class="infographic-rulelogic" bind-html-compile="ECConf.ruletext">
    </div>
</div>
