<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Fishing Economic Value 2007-2012</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element lists the minimum and maximum pixel value within the selected area of fishing economic value and a total value for the whole area."
                            modal-img="img/info.svg"
                            modal-title="Fishing Economic Value 2007-2012"
                            modal-text=" Fishing Revenue is a summation of all the state revenues by all gear types and all species.
                        The value is in US dollars for 2012 representing the sum of the mean values for all six
                        years of the analysis. This is a single data set from a larger study. The full study is
                        titled &quot; Socio-Economic Impact of Outer Continental Shelf Wind Energy Development on Fishing
                            in the U.S. Atlantic&quot;."

            ></info-directive>


        </div>
        <!-- iButton end-->


    </div>
    <div class="infographic-dataarea">

        <div class="infographic-dataarea--split">
            <div><b>Per 500m<sup>2</sup></b></div>
            <div><span>Min: {{ECvm.AOI.ECFishRevenue[0].FishingRev_value_min|currency }}</span><span
                    ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span></div>
            <div><span>Max: {{ECvm.AOI.ECFishRevenue[0].FishingRev_value_max|currency}}</span><span
                    ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span></div>
        </div>
        <div class="infographic-dataarea--split">
            <div><b>Area Total</b></div>
            <div>{{ECvm.AOI.ECFishRevenue[0].FishingRev_total|currency}}</div>
            <span ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span>
        </div>
    </div>

</div>

