<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{ECConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{ECConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{ECConf.name}}
                            modal-text={{ECConf.modaltext}}

            ></info-directive>


        </div>
        <!-- iButton end-->


    </div>
    <div class="infographic-narrative " bind-html-compile="ECConf.narrativetext">
    </div>
    <div class="infographic-dataarea">

        <div class="infographic-dataarea--split">
            <div><b>Per 500m<sup>2</sup></b></div>
            <div><span>Min: {{ECvm.AOI.ECFishRevenue[0].FishingRev_value_min|currency }}</span><span
                    ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span></div>
            <div><span>Max: {{ECvm.AOI.ECFishRevenue[0].FishingRev_value_max|currency}}</span><span
                    ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span></div>
        </div>
        <div class="infographic-dataarea--split">
            <div><b>Area Total</b></div>
            <div>{{ECvm.AOI.ECFishRevenue[0].FishingRev_total|currency}}</div>
            <span ng-hide="ECvm.AOI.ECFishRevenue.length">No Data</span>
        </div>
    </div>
    <div class="infographic-rulelogic" bind-html-compile="ECConf.ruletext">
    </div>
</div>

