<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title infographic-title--2line">
        <div class="infographic-text">Ocean Job Contribution<br>(Percentage)</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a list of states or counties and a percentage representing the contribution of ocean dollars to the total GDP"
                            modal-img="img/info.svg"
                            modal-title="Ocean Job Contribution(Percentage)"
                            modal-text="Percentage of ocean industry GDP relative to the total GDP. Based on 2013 ENOW data"

            ></info-directive>


        </div>
        <!-- iButton end-->
    </div>

    <div class="infographic-dataarea">


        <div ng-repeat="x in ECvm.AOI.ECStateGDP| orderBy : 'st_name'">
            <div><b>{{x.st_name}}</b> : {{x.PercentTotGDP.toFixed(2)}}%</div>

        </div>
        <div ng-repeat="x in ECvm.AOI.ECCountyGDP| orderBy : 'cntyname'">
            <div><b>{{x.cntyname}}</b> : {{x.PercentTotGDP.toFixed(2)}}%</div>

        </div>
    </div>

</div>