<a ng-click="AOI.toggleFullSlider('EC')" href="" id="togglefull" class="toggleicon"
   ng-style="{'top':(window.innerHeight /2)+'px'}"><img class="toggleimg" src="img/ArrowButton.svg"></a>


<div class="padding30 slide-right">
    <ng-include src="'partials/AOI_head.html'"></ng-include>

    <div id="sliderData">
        <div id="AOItab" class="AOItabClass"> Economics and Commerce
            <div class="narrative" ng-bind-html="AOI.narratives[4].narrative | unsafe"></div>

        </div>
    </div>
</div>


