<!--
indivdual infographics ID's 66-75 for EC
-->
<a ng-click="ECvm.AOI.toggleFullSlider()" href="" id="togglefull" class="toggleicon"
   ng-style="{'top':(window.innerHeight /2)+'px','marginLeft':ECvm.AOI.toggleFullStyle.MarginLeft,'transform':ECvm.AOI.toggleFullStyle.transform,'msTransform':ECvm.AOI.toggleFullStyle.msTransform,'WebkitTransform':ECvm.AOI.toggleFullStyle.WebkitTransform}"><img
        class="toggleimg" src="img/ArrowButton.svg"></a>


<div class="padding30 slide-right">
    <ng-include src="'partials/AOI_head.html'"></ng-include>

    <div id="sliderData">
        <div id="AOItab" class="AOItabClass"> <div  tabindex="0">Economics and Commerce</div>
            <div class="narrative" ng-bind-html="ECvm.AOI.narratives[4].narrative | unsafe" tabindex="0"></div>
            <div ng-repeat="ECConf in ECvm.ECConfig | orderBy: 'priority'">
                <div ng-if="ECConf.priority" class="zeroheightkludge" ng-include="ECConf.filename"></div>
            </div>
        </div>
    </div>
</div>


