<div class="infographic-box-small" tabindex="0">
    <div id="wrbox1">
        <div id="slider_but6" class="sliderbutton" ng-hide="EMvm.AOI.toggleFull===true">
            <div ng-class="EMvm.AOI.HydrokineticLeasesIsVisible ? 'flip' : 'rotateCounterwise180'"
                 ng-click="EMvm.AOI.toggleHydrokineticLeases()" ng-include="'img/switch_off.svg'"></div>
        </div>

        <div class="infographicline1">
            <div class="floatitleft">Hydrokinetic Leases</div>
            <!-- iButton start-->
            <div>
                <info-directive class="infobutton mainbutton" modal-template="modal6.html" message="message"
                                alttext="Element contains a count of the hydrokinetic leases within 3 miles of the selected area. Symbology is a gold outline of a bouy."
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal6.html">
                    <div id="custom-modal" class="modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Hydrokinetic leases are granted by BOEM to grow offshore renewable energy through renewable
                            energy initiatives. Currently these are research leases to test ocean energy equipment in
                            Federal waters, not commercial leases.
                            <br>


                        </div>
                        <div id="fade"></div>
                    </div>
                </script>

            </div>
        </div>
        <!-- iButton end-->


        <div class="swatch floatitleft"><img src="img/HydrokineticLeasesGraphic.svg"></div>
        <div class="infographicline2">
            <span class="boemline2a floatitleft">Within 2 miles of this area</span>


        </div>
        <div ng-repeat="count in EMvm.AOI.EMMarineHydrokineticProjects | filter:query as filtered">
        </div>
        <div ng-repeat="dispx in EMvm.AOI.EMMarineHydrokineticProjects | unique: 'PRIMARY_USE' | orderBy : 'PRIMARY_USE'">
            <div ng-repeat="count in EMvm.AOI.EMMarineHydrokineticProjects | filter: {PRIMARY_USE: dispx.PRIMARY_USE}:true as filtered">
            </div>
            <div id="boemline2">
                <span class="boemline2b">{{filtered.length}}</span>
                <span class="boemline2a">{{dispx.PRIMARY_USE}}</span>

            </div>
        </div>
        <span id="boemline2" ng-show="!filtered.length"><span class="boemline2b">0 </span><span class="boemline2a">projects</span></span>
    </div>
</div>