<div class="infographic-box-small" tabindex="0">
    <div id="wrbox1">
        <div id="slider_but6" class="sliderbutton" ng-hide="AOI.toggleFull===true">
            <div ng-class="AOI.HydrokineticLeasesIsVisible ? 'flip' : 'rotateCounterwise180'"
                 ng-click="AOI.toggleHydrokineticLeases()" ng-include="'img/switch_off.svg'"></div>
        </div>

        <div class="infographicline1">Hydrokinetic Leases</div>
        <div class="swatch floatitleft"><img src="img/HydrokineticLeasesGraphic.svg"></div>
        <div class="infographicline2">
            <span class="boemline2a floatitleft">Within 2 miles of this area</span>


        </div>
        <div ng-repeat="count in AOI.hydrok | filter:query as filtered">
        </div>
        <div ng-repeat="dispx in AOI.hydrok | unique: 'PRIMARY_USE' | orderBy : 'PRIMARY_USE'">
            <div ng-repeat="count in AOI.hydrok | filter: {PRIMARY_USE: dispx.PRIMARY_USE}:true as filtered">
            </div>
            <div id="boemline2">
                <span class="boemline2b">{{filtered.length}}</span>
                <span class="boemline2a">{{dispx.PRIMARY_USE}}</span>

            </div>
        </div>
        <span id="boemline2" ng-show="!filtered.length"><span class="boemline2b">0 </span><span class="boemline2a">projects</span></span>
    </div>
</div>