<div class="infographic-box infographic-box--small" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{EMConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">

            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{EMConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{EMConf.name}}
                            modal-text={{EMConf.modaltext}}

            ></info-directive>


        </div>
    </div>
    <!-- iButton end-->
    <div class="infographic-narrative " bind-html-compile="EMConf.narrativetext">
    </div>
    <span class="infographic-twosizeline padbottom10">
        <span class="infographic-twosizeline--large ">{{EMvm.AOI.OGLease[0].TOTAL_CNT}}</span>
        <span class="infographic-twosizeline--small ">Oil and Gas leases within 2 miles of this area</span>
    </span>
    <div class="infographic-dataarea">
        <table class="table-oilandgas">

            <tr>
                <th class="table-oilandgas--narrow">Lease Number</th>
                <th class="table-oilandgas--wide">Status</th>
            </tr>
            <tr ng-repeat="lease in EMvm.AOI.OGLease | orderBy : 'Lease_Numb'">
                <td>
                    <div>{{lease.Lease_Numb}}</div>
                </td>
                <td>
                    <div>{{lease.Lease_expt}}</div>
                </td>


            </tr>
        </table>

    </div>
    <div class="infographic-rulelogic" bind-html-compile="EMConf.ruletext">
    </div>
</div>
