<div class="infographic-box-medium" tabindex="0">
    <div id="wrbox1">
        <div class="infographicline1">Surficial Sediment Classification</div>

        <div class="infographicline3">
            <span class="boemline2a floatitleft">Number of Samples Collected</span>
            <!-- iButton start-->
            <div>

                <info-directive class="infobutton mainbutton" modal-template="modal7.html" message="message"
                                alttext="Graphic of a bar chart that lists the type of sediment samples found in the selected area and how many of each type are present."
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal7.html">
                    <div id="custom-modal" class="modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Represents a count and description of selected surface samples from the East Coast Sediment
                            Texture Database within the AOI. Summary of these samples does not imply a homogenous
                            sediment type over the whole area. Classification is based on Shepard’s pyramid.
                            <br>
                            <img src="img/Shepard1.png">


                        </div>
                        <div id="fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->

        </div>

        <div ng-repeat="dispx in EMvm.AOI.EMSurficialSediment | unique: 'PRIMARY_USE' | orderBy : 'PRIMARY_USE'">
            <div ng-repeat="count in EMvm.AOI.EMSurficialSediment | filter: {PRIMARY_USE: dispx.PRIMARY_USE}:true as filtered ">

            </div>
                <span class="floatitleft blackBoldText14 SedimentChart">
                    <div class="SedimentCenteredData">{{filtered.length}}</div>
                    <div ng-style="{'width': (filtered.length/EMvm.AOI.EMSurficialSediment.length)*100 + '%' }"
                         class="SedimentBar floatitleft"></div>


                 </span>
            <div class="floatitleft w10 ">
                &nbsp;
            </div>
            <div class="floatitleft PaleText14 SedimentchartType">
                <span class="marginleft5px">{{dispx.PRIMARY_USE}}</span>
            </div>
        </div>
        <div id="boemline2" ng-show="!EMvm.AOI.EMSurficialSediment.length">
            <span class="boemline2b">0 </span>
            <span class="boemline2a">Samples</span>
        </div>


    </div>
</div>