<div class="infographic-box infographic-box--mediumb" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{EMConf.name}}</div>
        <div class="layertoggle-button" ng-hide="EMvm.AOI.toggleFull===true">
            <div ng-class="EMvm.AOI.EMWindResourcePotentialLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="EMvm.AOI.toggleEMWindResourcePotentialLayer()"
                 ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="EMvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div class="infographic-narrative " bind-html-compile="EMConf.narrativetext">
    </div>
    <div class="wind-box">
        <div class="wind-avg"> Weighted Average:<br>
            <div ng-show="EMvm.AOI.EMWindResourcePotential[0].AVG_WGHT">{{EMvm.AOI.EMWindResourcePotential[0].AVG_WGHT}}
                m/s
            </div>
            <div ng-if="!EMvm.AOI.EMWindResourcePotential[0].AVG_WGHT">No Data</div>
        </div>
        <div class="iModal">

            <!-- //metadata-url="{{EMWindResourcePotential[0].METADATA_URL}}" -->
            <info-directive class="iModal-button" modal-template="ModalTemplate.html"
                            alttext={{EMConf.alttext}}
                            message="message"
                            modal-img="img/info.svg"
                            modal-title='{{EMConf.name}}: Weighted Average'
                            modal-text={{EMConf.modaltext}}
                            modal-custom={{EMvm.AOI.EMWindResourcePotential[0].CAPACITY}}
            ></info-directive>
        </div>

        <div class="wind-spacer">&nbsp;</div>
        <div class="house-box">
            <div class="wind-area">Area with suitable wind resources:
                <div class="wind-data" ng-show="EMvm.AOI.EMWindResourceArea">
                    {{EMvm.AOI.EMWindResourceArea.toLocaleString()}} km<sup>2</sup>
                </div>
                <div class="wind-data" ng-if="!EMvm.AOI.EMWindResourceArea">No Data</div>
            </div>
            <!-- iButton start-->
            <div class="iModal">
                <info-directive class="iModal-button" modal-template="ModalTemplate.html"
                                message="message"
                                modal-img="img/info.svg"
                                modal-title='{{EMConf.name}}: Potential Houses Supported'
                                modal-text={{EMConf.modaltext2}}

                ></info-directive>


            </div>
            <!-- iButton end-->
            <div class="wind-houses">
                Potential Houses Supported Annually:
                <div class="wind-data" ng-show="EMvm.AOI.EMWindResourcePotential[0].HOUSES_SUM">
                    {{EMvm.AOI.EMWindResourcePotential[0].HOUSES_SUM}}
                </div>
                <div class="wind-data" ng-if="!EMvm.AOI.EMWindResourcePotential[0].HOUSES_SUM">No Data</div>
            </div>

            <div class="house">
                <img ng-if="EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP > 1000000" class="house-image" img src="img/wind-resources-1.svg"/>
                <img ng-if="EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP > 100000 && EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP < 1000000" class="house-image" img src="img/wind-resources-2.svg"/>
                <img ng-if="EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP > 20000 && EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP < 100000" class="house-image" img src="img/wind-resources-3.svg"/>
                <img ng-if="EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP > 1000 && EMvm.AOI.EMWindResourcePotential[0].HOUSES_CAP < 20000" class="house-image" img src="img/wind-resources-4.svg"/>
            </div>
        </div>

    </div>
    <div class="windResource-key">
        <div class="wind-key">
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#0E3708"/>
                </svg>
                Superb (8.8-11.1)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#5C9227"/>
                </svg>
                Outstanding (8.0-8.8)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#A6C900"/>
                </svg>
                Excellent (7.5-8.0)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#EFCF06"/>
                </svg>
                Good (7.0-7.5)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#D96704"/>
                </svg>
                Fair (6.6-7.0)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#A90306"/>
                </svg>
                Unsuitable (<6.6)
            </div>
            <div class="key-lines">
                <svg class="key-icons">
                    <circle cx="7" cy="7" r="7" fill="#A1A1A1"/>
                </svg>
                Unknown (no data)
            </div>
        </div>

    </div>


    <div class="windmill" ng-class="{'windmill-img--background':!EMvm.AOI.EMWindResourceClassification.length}"><img
            src="img/wind_cc.svg" class="windmill-img">
        <img class="windmill-binary" id="binaryImage"/>
    </div>
    <div class="highcharts-windchart" ng-if="EMvm.AOI.EMWindResourceClassification.length">
        <highchart id="container" config="EMvm.AOI.highchartsNG" class="highcharts-windchart--consolidate"></highchart>
        <div class="infographic-rulelogic" bind-html-compile="EMConf.ruletext">
        </div>
    </div>


</div>