<div class="infographic-box infographic-box--small" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Wind Planning Areas</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a count of the number of wind planning areas that intersect the selected area and calculates the percentage of the selected area that the WPAs cover and how many OCS blocks that includes. Includes hyperlinks for more information on the WPAs"
                            modal-img="img/info.svg"
                            modal-title="Wind Planning Areas"
                            modal-text="Wind Planning Areas delineate an area that is being considered for Wind Power Development
                        and can represent up to six different types of announcements within the US Federal Register
                        (FR) that can be used to show the current status of wind power development."
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="EMvm.AOI.toggleFull===true">
            <div ng-class="EMvm.AOI.EMWindPlanningAreaLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="EMvm.AOI.toggleEMWindPlanningAreaLayer()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="EMvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div class="swatch-img"><img src="img/Wind_Planning_Areas.svg"></div>
    <div class="infographic-dataarea--small">
        <span class="infographic-twosizeline--large"><ng-hide ng-hide="EMvm.AOI.EMWindPlanningArea[0].TOTAL_CNT>=0">0
        </ng-hide>{{EMvm.AOI.EMWindPlanningArea[0].TOTAL_CNT}}</span>
        <span class="infographic-twosizeline--small">BOEM Wind Planning Area</span>
    </div>
    <div class="infographic-twosizeline">
        <span class="infographic-twosizeline--small">Covers</span>
        <span class="infographic-twosizeline--large"><ng-hide ng-hide="EMvm.AOI.EMWindPlanningArea[0].PERC_COVER>=0">0
        </ng-hide>{{EMvm.AOI.EMWindPlanningArea[0].PERC_COVER.toFixed(0)}}</span>
        <span class="infographic-twosizeline--small">%, including</span>
        <span class="infographic-twosizeline--large"><ng-hide ng-hide="EMvm.AOI.EMWindPlanningArea[0].TOTAL_BLOC>=0">0
        </ng-hide>{{EMvm.AOI.EMWindPlanningArea[0].TOTAL_BLOC}}</span>
        <span class="infographic-twosizeline--small">OCS blocks</span>
    </div>

    <div class="infographic-twosizeline">
        <div class="infographic-twosizeline--small">{{EMvm.AOI.EMWindPlanningArea[0].PROT_NUMBE}}
            {{EMvm.AOI.EMWindPlanningArea[0].INFO}}
        </div>
        <div class="infographic-twosizeline--small"><a href={{EMvm.AOI.EMWindPlanningArea[0].LINK1}} target="_blank">Current
            Federal
            Register Notice</a>
        </div>
        <div class="infographic-twosizeline--small"><a href={{EMvm.AOI.EMWindPlanningArea[0].LINK2}} target="_blank">Current
            State
            Activities</a></div>
    </div>
</div>
