<div class="infographic-box-small">
    <div id="wrbox1">

        <div id="slider_but2" class="sliderbutton" ng-hide="AOI.toggleFull===true">
            <div ng-class="AOI.windPlanningLayerIsVisible ? 'flip' : 'rotateCounterwise180'"
                 ng-click="AOI.toggleWindPlanningLayer()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="infographicline1">
            <div class="floatitleft">Wind Planning Areas</div>
            <!-- iButton start-->
            <div>

                <info-directive class="infobutton mainbutton" modal-template="modal2.html" message="message"
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal2.html">
                    <div id="custom-modal" class="modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Wind Planning Areas delineate an area that is being considered for Wind Power Development
                            and can represent up to six different types of announcements within the US Federal Register
                            (FR) that can be used to show the current status of wind power development.
                            <br>


                        </div>
                        <div id="fade"></div>
                    </div>
                </script>

            </div>
        </div>
        <!-- iButton end-->
        <div class="swatch"><img src="img/Wind_Planning_Areas.svg"></div>
        <div class="infographicline2">
            <span class="boemline2b">{{AOI.boem[0].TOTAL_CNT}}</span>
            <span class="boemline2a">BOEM Wind Planning Area</span>
        </div>
        <div id="boemline2">
            <span class="boemline2a">Covers</span>
            <span class="boemline2b">{{AOI.boem[0].PERC_COVER.toFixed(0)}}</span>
            <span class="boemline2a">%, including</span>
            <span class="boemline2b">{{AOI.boem[0].TOTAL_BLOC}}</span>
            <span class="boemline2a">OCS blocks</span>
        </div>

        <div id="boemline2">
            <div class="boemline2a">{{AOI.boem[0].PROT_NUMBE}} {{AOI.boem[0].INFO}}</div>
            <div class="boemline2a"><a href={{AOI.boem[0].LINK1}} target="_blank">Current Federal Register Notice</a>
            </div>
            <div class="boemline2a"><a href={{AOI.boem[0].LINK2}} target="_blank">Current State Activities</a></div>
        </div>
    </div>
</div>