<div class="infographic-box infographic-box--mediumb" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Wind Resource Potential</div>
        <div class="layertoggle-button" ng-hide="EMvm.AOI.toggleFull===true">
            <div ng-class="EMvm.AOI.EMWindResourcePotentialLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="EMvm.AOI.toggleEMWindResourcePotentialLayer()"
                 ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="EMvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>

        <div class="wind-box">
            <div class="wind-avg"> Weighted Average:<br>
                {{EMvm.AOI.EMWindResourcePotential[0].AVG_WGHT}} m/s
            </div>
            <div class="iModal">

                <!-- //metadata-url="{{EMWindResourcePotential[0].METADATA_URL}}" -->
                <info-directive class="iModal-button" modal-template="modal0.html"
                                alttext="Graphic of a turbine to illustrating wind speed averages over the selected area in meters per second and of a house to show the potential houses supported by the potential wind energy."
                                message="message"
                                modal-img="img/info.svg"
                                metadata-url="{{EMvm.AOI.EMWindResourcePotential[0].CAPACITY}}"></info-directive>

                <script type="text/ng-template" id="modal0.html">
                    <div class="modal">
                        <div class="modal-overlay">
                            <a href="" class="modal-overlay--close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Areas with annual average wind speeds of 7 meters per second (m/s) and greater at 90-m
                            height are generally considered to have a wind resource suitable for offshore
                            development.
                            The potential megawatts (MW) of rated capacity that could be installed in this area,
                            assuming 5 MW of installed capacity per square kilometer of water is:
                            {{metadataurl}} MW.
                            <!--div class="modal-overlay--footnote"><a target="_blank" href={{metadataurl}}>Wind Resource Potential Metadata</a></div-->
                        </div>
                        <div class="modal-fade"></div>
                    </div>
                </script>
            </div>

            <div class="wind-spacer">&nbsp;</div>
            <div class="wind-houses">Potential Houses Supported Annually:
                {{EMvm.AOI.EMWindResourcePotential[0].HOUSES_SUM}}
            </div>
            <!-- iButton start-->
            <div class="iModal">
                <info-directive class="iModal-button" modal-template="modal0b.html"
                                message="message"
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal0b.html">
                    <div class="modal">
                        <div class="modal-overlay">
                            <a href="" class="modal-overlay--close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Calculation assumes 5MW<sup>1</sup> produced per square km, and an average annual
                            household
                            energy use of 2kW <sup>2</sup>.<br>

                            <div class="modal-overlay--footnote"><sup>1</sup> <a target="_blank"
                                                                                 href="http://apps2.eere.energy.gov/wind/windexchange/windmaps/offshore.asp">U.S.
                                Department of Energy offshore wind potential</a><br>
                                <sup>2</sup> <a target="_blank"
                                                href="http://www.eia.gov/tools/faqs/faq.cfm?id=97&t=3">U.S.
                                    Energy Information Administration FAQ</a>
                            </div>


                        </div>
                        <div class="modal-fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->

        </div>
        <div class="windResource-key">
            <div class="wind-key">
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#0E3708"/>
                    </svg>
                    Superb (8.8-11.1 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#5C9227"/>
                    </svg>
                    Outstanding (8.0-8.8 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#A6C900"/>
                    </svg>
                    Excellent (7.5-8.0 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#EFCF06"/>
                    </svg>
                    Good (7.0-7.5 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#D96704"/>
                    </svg>
                    Fair (6.6-7.0 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#A90306"/>
                    </svg>
                    Unsuitable (<6.6 m/s)
                </div>
                <div class="key-lines">
                    <svg class="key-icons">
                        <circle cx="7" cy="7" r="7" fill="#A1A1A1"/>
                    </svg>
                    Unknown (no data)
                </div>
            </div>
            <div class="house">
                <img class="house-color" img src="img/houseicon.svg"/>
            </div>
        </div>


        <div class="windmill"><img src="img/wind_cc.svg" class="windmill-img">
            <img class="windmill-binary" id="binaryImage"/>
        </div>

    <highchart id="container" config="EMvm.AOI.highchartsNG" class="highcharts-windchart"></highchart>


    <br>


</div>