<!--
indivdual infographics ID's 1-25 for EM
-->
<a ng-click="AOI.toggleFullSlider('EM')" href="" id="togglefull" class="toggleicon"
   ng-style="{'top':(window.innerHeight /2)+'px'}"><img class="toggleimg" src="img/ArrowButton.svg"></a>

<div class="padding30 slide-right">
    <div class="CEHeader">
        <div id="AOIname">{{AOI.name.toUpperCase()}}</div>
        <div id="shareIcons">
            <div id="shareIcon"><a ui-sref="print" href=""><img src="img/Printer.svg"></div>
            <div id="shareIcon"><a ui-sref="CEview({'id': '23'})"><img src="img/Export.svg"></a></div>
            <div id="shareIcon"><a ui-sref="meta" href=""><img src="img/MetadataIcon.svg"></a></div>

        </div>
    </div>
    <br class="clear"/>

    <div id="sliderData">
        <div id="AOItab" class="AOItabClass"> Energy and Minerals
            <hr width="50%" align="left" color="#F4F8FC">
            <div ng-repeat="emconf in emconfig | orderBy: 'priority'">
                <div class="zeroheightkludge" ng-include="emconf.filename"></div>
            </div>

        </div>


    </div>
</div>

<br>

