<div class="infographic-box-small">
    <div id="wrbox1">
        <div id="slider_but4" class="sliderbutton" ng-hide="AOI.toggleFull===true">
            <div ng-class="AOI.marineMineralsLeasesIsVisable ? 'flip' : 'rotateCounterwise180'"
                 ng-click="AOI.toggleMarineMineralsLeases()" ng-include="'img/switch_off.svg'"></div>

        </div>
        <div id="boemline1">Marine Minerals Leases</div>
        <div class="swatch"><img src="img/MarineMineralLeases.svg"></div>




            <div id="boemline2">

                <span class="boemline2b">{{AOI.mml[0].TOTAL_CNT}}</span><span class="boemline2a"> Completed Leases</span>
            </div>

    </div>
</div>