<div class="slider">
    <div class="AOIhead">
        <div class="AOIhead-name">{{vm.AOI.name.toUpperCase()}}</div>
    </div>
    <br class="clear"/>

    <div class="theme"> Metadata</div>
    <div class="narrative">This page provides information on the data used in the Ocean Reporting Tool. The links
        below are to
        metadata and within the metadata records are links to download the source data.
    </div>
    <hr class="head-line">
    <div class="metadata" ng-repeat="m1 in vm.AOI.metadata | unique: 'REPORT_CAT' | orderBy : 'METADATA_SORT'">
        <div class="metadata--bold"> {{m1.REPORT_CAT}}</div>
        <table class="metadata-table">

            <th class="metadata-table--narrow">Name</th>
            <th>Owner</th>

            <tr ng-repeat="m2 in vm.AOI.metadata | unique: 'COMMON_NM'| filter: {REPORT_CAT: m1.REPORT_CAT}:true | orderBy : 'REPORT_CAT'">
                <td>{{m2.COMMON_NM}}</td>
                <td><a target="_blank" href={{m2.METADATA_URL}}>{{m2.METADATA_OWNER}}</a></td>
            </tr>
        </table>
    </div>
</div>
</div>