<hr class="head-line" width="50%" align="left">
<div class="metadata" ng-repeat="m1 in vm.AOI.metadata | unique: 'REPORT_CAT' | orderBy : 'METADATA_SORT'">
    <div class="metadata--bold "> {{m1.REPORT_CAT}}</div>
    <table class="metadata-table">

        <th class="metadata-table--narrow">Name</th>
        <th>Owner</th>
        <th>URL</th>

        <tr ng-repeat="m2 in vm.AOI.metadata | unique: 'COMMON_NM' | filter: {REPORT_CAT: m1.REPORT_CAT}:true | orderBy : 'REPORT_CAT'">
            <td class="metadata--printsize">{{m2.COMMON_NM}}</td>
            <td class="metadata--printsize">{{m2.METADATA_OWNER}}</td>
            <td class="metadata--printsizesmall">
                <a ng-hide="m2.METADATA_OWNER==='Unavailable'" target="_blank" href={{m2.METADATA_URL}}>{{m2.METADATA_URL}}</a>
                <div ng-if="m2.METADATA_OWNER==='Unavailable'">Unavailable</div>
            </td>

        </tr>
    </table>
</div>


