<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{NRCConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{NRCConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{NRCConf.name}}
                            modal-text={{NRCConf.modaltext}}
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="NRCvm.AOI.toggleFull===true">
            <div ng-class="NRCvm.AOI.NRCNearbyLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="NRCvm.AOI.toggleNRCNearby()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="NRCvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div class="infographic-narrative " bind-html-compile="NRCConf.narrativetext">
    </div>
    <div>

        <div class="infographic-swatch">
            <div class="swatch-img"><img src="img/NRCNearbyAreas.svg"></div>
            <span class="infographic-twosizeline">
              <span class="infographic-twosizeline--large">{{NRCvm.AOI.NRCNearby.length}}</span>
              <span class="infographic-twosizeline--small">Within 15 miles</span>
            </span>

        </div>
        <div class="infographic-dataarea">
            <img src="img/svg-elements_nps-logo.svg">
            <img src="img/svg-elements_nwrs-logo.svg">
            <img src="img/svg-elements_nms-logo.svg">
            <img src="img/svg-elements_nerrs-logo.svg">

            <div class="infographic-dataarea">
                <div ng-repeat="x in NRCvm.AOI.NRCNearby  | orderBy : 'Site_Name'">
                    <a href="{{x.URL}}" target="_blank">{{x.Site_Name}}</a>
                </div>
            </div>
        </div>

    </div>
    <div class="infographic-rulelogic" bind-html-compile="NRCConf.ruletext">
    </div>
</div>

