<div class="infographic-box-small">
    <div>


        <div class="infographicTitle">
            <div class="floatitleft w45">Coastal Barrier Resource Areas</div>
            <!-- iButton start-->
            <div class="floatitleft">
                <info-directive class="infobutton mainbutton" modal-template="modal62.html" message="message"
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal62.html">
                    <div id="custom-modal" class="modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            CBRA encourages the conservation of hurricane prone, biologically rich coastal barriers by
                            restricting federal expenditures that encourage development, such as federal flood
                            insurance. Areas within the CBRS can be developed provided that private developers or other
                            non-federal parties bear the full cost.

                            <br>


                        </div>
                        <div id="fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->
            <div class="inlinesliderbutton" ng-hide="AOI.toggleFull===true">
                <div ng-class="AOI.NRCBarrierLayerIsVisible ? 'flip' : 'rotateCounterwise180'"
                     ng-click="AOI.toggleNRCBarrierLayer()" ng-include="'img/switch_off.svg'"></div>
            </div>
        </div>

        <div>
            <div class="h12"></div>
            <div class="CommonSwatchLine floatitleft w100">
                <div class="swatch floatitleft"><img src="img/NRCBarrierAreas.svg"></div>
                <div class="CEAreaData padtop20 h60">
                    CBRA's
                </div>
                <div>
                    <div class="floatitleft padbottom10 padLeft15 ">
                        <div class="floatitleft" ng-hide="AOI.NRCBarrier[0].TOTAL_CNT>=1">0 &nbsp;</div>{{AOI.NRCBarrier[0].TOTAL_CNT}} Barrier Units within 8nm

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
