<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Habitat Areas of Particular Concern</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element lists the habitat areas of particular concern that intersect the selected area along with the percent of that area covered by each one."
                            modal-img="img/info.svg"
                            modal-title="Habitat Areas of Particular Concern"
                            modal-text="HAPCs provide important ecological functions and/or are especially vulnerable to
                        degradation. HAPCs are discreet subsets of Essential Fish Habitat (EFH). They are considered
                        high priority areas for conservation, management, or research because they are rare,
                        sensitive, stressed by development, or important to ecosystem function. The HAPC designation
                        does not necessarily mean additional protections or restrictions upon an area, but they help
                        to prioritize and focus conservation efforts."
            ></info-directive>


        </div>
        <!-- iButton end-->


    </div>
    <div class="infographic-dataarea">
        <div class="infographic-list"
             ng-repeat="x in NRCvm.AOI.NRCHabConcern| orderBy : 'AREA_NAME'">
            <div>{{x.AREA_NAME}}

            </div>
            <div class="infographic-list--pad">Covers {{x.PERC_COVER.toFixed(2)}}% of area</div>
        </div>
        <div ng-if="NRCvm.AOI.NRCHabConcern.length===0"><span class="infographic-twosizeline--large">0</span> <span
                class="infographic-twosizeline--small">Habitat Areas of Particular Concern overlap</span></div>
    </div>
</div>
