<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{NRCConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{NRCConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{NRCConf.name}}
                            modal-text={{NRCConf.modaltext}}
            ></info-directive>


        </div>
        <!-- iButton end-->


    </div>
    <div class="infographic-narrative " bind-html-compile="NRCConf.narrativetext">
    </div>
    <div class="infographic-dataarea">
        <div class="infographic-list"
             ng-repeat="x in NRCvm.AOI.NRCHabConcern| orderBy : 'AREA_NAME'">
            <div>{{x.AREA_NAME}}

            </div>
            <div class="infographic-list--pad">Covers {{x.PERC_COVER.toFixed(2)}}% of area</div>
        </div>
        <div ng-if="NRCvm.AOI.NRCHabConcern.length===0"><span class="infographic-twosizeline--large">0</span> <span
                class="infographic-twosizeline--small">Habitat Areas of Particular Concern overlap</span></div>
    </div>
    <div class="infographic-rulelogic" bind-html-compile="NRCConf.ruletext">
    </div>
</div>
