<div class="infographic-box-small" tabindex="0">
    <div>


        <div class="infographicTitle">
            <div class="floatitleft w45">Artificial Reefs</div>
            <!-- iButton start-->
            <div class="floatitleft">
                <info-directive class="infobutton mainbutton" modal-template="modal62.html" message="message"
                                alttext="Element contains a count of the number of artifical reefs that intersect the selected area. Symbology is a gray branching coral."
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal62.html">
                    <div id="custom-modal" class="modal">
                        <div class="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            The presence of artifical reefs may affect the kinds of work that are able to be completed
                            in an area. Generally, they provide a substrate for a benthic community that may or may not
                            support assemblages of fish. As a result they will likely need to be avoided during the
                            course of a project. This is not considered an exhaustive list of artifical reefs.
                            <br>


                        </div>
                        <div class="fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->
            <div class="inlinesliderbutton" ng-hide="NRCvm.AOI.toggleFull===true">
                <div ng-class="NRCvm.AOI.NRCReefsLayerIsVisible ? 'flip' : 'rotateCounterwise180'"
                     ng-click="NRCvm.AOI.toggleNRCReefsLayer()" ng-include="'img/switch_off.svg'"></div>
            </div>
        </div>

        <div>
            <div class="h12"></div>
            <div class="CommonSwatchLine floatitleft w100">
                <div class="swatch floatitleft"><img src="img/svg-elements_reefs.svg"></div>
                <div class="CEAreaData padtop40 h60">

                </div>
                <div>
                    <div class="floatitleft padbottom10 padLeft15 w45">


                        <span class="boemline2b"><ng-hide ng-hide="NRCvm.AOI.NRCReefs[0].TOTAL_CNT>=1">0</ng-hide>{{NRCvm.AOI.NRCReefs[0].TOTAL_CNT}}</span><span
                            class="boemline2a"> Reefs Intersect</span>


                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
