<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Managed Highly Migratory Species</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element lists highly migratory species (for fish and sharks) areas that intersect the selected area and whether they represent adult, juvenile, neonatal, or spawning habitat."
                            modal-img="img/info.svg"
                            modal-title="Managed Highly Migratory Species"
                            modal-text="Highly migratory species—tuna, sharks, swordfish, and billfish—live throughout the Atlantic
                        Ocean and Gulf of Mexico and often migrate long distances. Because these species cross
                        domestic and international boundaries they are specially managed to take into account
                        requirements established through international cooperation. Listed are species that
                        intersect the delineated area and their life stages: A-Adult, J-Juvenile, N-Neonatal,
                        S-Spawning"
            ></info-directive>


        </div>
        <!-- iButton end-->


    </div>
    <div class="infographic-dataarea">
        <div class="infographic-list">A:Adult, J:Juvenile, N:Neonatal, S:Spawning</div>
        <div class="species">

            <div class="species-box">
                <div class="species-menu">Sharks

                </div>
                <div class="species-list"
                     ng-repeat="x in NRCvm.AOI.NRCMigratorySharks| orderBy : 'SPECIES'| unique: 'SPECIES'">
                    <div class="species-species">{{x.SPECIES}}</div>
                    <div class="dropmenu-icon">{{x.LIFE_STAGE}}</div>
                </div>
                <div ng-hide="NRCvm.AOI.NRCMigratorySharks.length" class="species-list species-species">0 Species
                    identified
                </div>

            </div>
            <div class="species-box">
                <div class="species-menu">Fish

                </div>
                <div class="species-list"
                     ng-repeat="x in NRCvm.AOI.NRCMigratoryFish | orderBy : 'SPECIES'| unique: 'SPECIES'">
                    <div class="species-species">{{x.SPECIES}}</div>
                    <div class="dropmenu-icon">{{x.LIFE_STAGE}}</div>
                </div>
                <div ng-hide="NRCvm.AOI.NRCMigratoryFish.length" class="species-list species-species">0 Species
                    identified
                </div>

            </div>

        </div>
    </div>
</div>