<div class="infographic-box infographic-box--small" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Coastal Barrier <br>Resource Areas</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a count of the number of coastal barrier resource units within 8 miles of the selected area, Symbology is a beige  polygon."
                            modal-img="img/info.svg"
                            modal-title="Coastal Barrier Resource Areas"
                            modal-text="CBRA encourages the conservation of hurricane prone, biologically rich coastal barriers by
                        restricting federal expenditures that encourage development, such as federal flood
                        insurance. Areas within the CBRS can be developed provided that private developers or other
                        non-federal parties bear the full cost."
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="NRCvm.AOI.toggleFull===true">
            <div ng-class="NRCvm.AOI.NRCBarrierLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="NRCvm.AOI.toggleNRCBarrierLayer()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="NRCvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>

    <div class="infographic-swatch">
        <div class="swatch-img"><img src="img/NRCBarrierAreas.svg"></div>
        <div class="swatch-dataarea">
            <span>CBRA's</span>
        </div>
    </div>

    <div class="infographic-dataarea">
        <span class="infographic-twosizeline--large">{{NRCvm.AOI.NRCBarrier.length}}</span>
        <span class="infographic-twosizeline--small">Barrier Units within 8nm</span>

    </div>


</div>

