<div class="padding30 slide-right">
    <div class="CEHeader">
        <div id="AOIname">Print Preview</div>
        <div id="shareIcons">
            <div id="shareIcon"><a ng-print print-element-id="sliderData"><img src="img/Printer.svg"></a></div>
            <!--div id="shareIcon"><img src="img/PDF.svg" ng-click="exportMyPDF('printElement')"></div-->

        </div>

    </div>

    <br class="clear"/>

    <div id="sliderData" class="h100">
        <div class="overflowauto" id="printElement">
            <div>{{AOI.name.toUpperCase()}}</div>
            <div id="AOItab" class="AOItabClass"> Common Elements
                <hr width="50%" align="left" color="#F4F8FC">
                <div ng-repeat="CEConf in CEConfig | orderBy: 'priority'">
                    <div class="zeroheightkludge" ng-include="CEConf.filename"></div>
                </div>
            </div>

            <br class="clear"/>
            <div id="AOItab" class="AOItabClass"> Energy and Minerals
                <hr width="50%" align="left" color="#F4F8FC">
                <div ng-repeat="emconf in emconfig | orderBy: 'priority'">
                    <p>
                    <div class="zeroheightkludge" ng-include="emconf.filename"></div>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>