<div class="infographic-box-small">
    <div id="wrbox1">
        <div id="slider_but1" class="sliderbutton">
            <div ng-class="AOI.windLeaseLayerIsVisible ? 'flip' : 'rotateCounterwise180'"
                 ng-click="AOI.toggleWindLeaseLayer()" ng-include="'img/switch_off.svg'"></div>
        </div>

        <div id="boemline1">Renewable Energy Leases</div>
        <div class="swatch"><img src="img/Renewable_Energy_Leases.svg"></div>

        <div id="boemline2">
            <span class="boemline2b">{{AOI.arel[0].TOTAL_CNT}}</span>
            <span class="boemline2a">BOEM Active Renewable Energy Leases</span>
        </div>
        <div id="boemline2">
            <span class="boemline2a">Covers</span>
            <span class="boemline2b">{{AOI.arel[0].PERC_COVER.toFixed(0)}}</span>
            <span class="boemline2a">%, including</span>
            <span class="boemline2b">{{AOI.arel[0].TOTAL_BLOC}}</span>
            <span class="boemline2a">OCS blocks</span>
        </div>
    </div>
</div>