<script>
    // Elements to inject
    var mySVGsToInject = document.querySelectorAll('img.inject-it');

    // Do the injection
    SVGInjector(mySVGsToInject);
</script>


<div style="padding:30px;" id="slide-right">
    <div style="width: 100%;height:5px"></div>
    <div id="sliderData">
        <div class="orangeHead"><b>Known Areas</b></div>
        <hr width="50%" align="left">
        <div class="menuBoxlight">High Priority Areas</div>
        <div id="boxofbuttons">
             <!--this should be the results of a looped lookup-->
            <div class="menuBoxdark">Big Rock</div>
            <div class="menuBoxdark">Blake Plateau</div>
            <div class="menuBoxdark">Charleston Bump</div>
            <div class="menuBoxdark">Diamond Shoals</div>
            <div class="menuBoxdark">Frying Pan Shoals</div>
            <div class="menuBoxdark" ui-sref="CEview" ng-click="on('Grand Strand')">Grand Strand</div>
            <div class="menuBoxdark">Hatteras Canyon</div>
            <div class="menuBoxdark">Miami Terrace</div>
            <div class="menuBoxdark">Oculina Banks</div>
            <div class="menuBoxdark">Pamlico Canyon</div>
            <div class="menuBoxdark">Winyah Scarp</div>
        </div>
    </div>
</div>


