<script>
    // Elements to inject
    var mySVGsToInject = document.querySelectorAll('img.inject-it');

    // Do the injection
    SVGInjector(mySVGsToInject);
</script>


<div style="padding:30px;" id="slide-right">
    <div style="width: 100%;height:5px"></div>

    <div id="sliderData">
        <div class="sBox">
            <div class="splashtitle"><img class="splashtitleimg" src="img/OceanReportingToolBannerv2.png"> </div>
            <div class="sText">
                The Ocean Reporting Tool is a web based, report centric tool for ocean planers. It provides high-level
                summary statistics and interpretive analysis for the Southeastern United States.
                <br>
            </div><br>
            <div class="orangeHead">Getting Started</div>
            <hr width="50%" align="left">
            <div class="sText">
                Choose a geographic area to generate a report:

            <br>

                <div>
                    <img style="vertical-align:middle" class="inject-it blackimg" src="img/KnownAreas_2.svg">
                    <span>Click <b>KNOWN AREAS</b> to select a report from the list of pre-defined areas</span>
                </div>

                <div>
                    <img style="vertical-align:middle" class="inject-it blackimg" src="img/MapInput_2.svg">
                    <span>Click <b>DRAW AREA</b> to use the map to generate a report for a custom area</span>
                </div>

                <div>
                    <img style="vertical-align:middle" class="inject-it blackimg" src="img/Reset_2.svg">
                    <span>Click <b>RESET</b> to clear your current selection and report</span>
                </div>


                <br>
            <div class="sText">Area selections initially display general report information. To view specific subject
                information, you may click on the tabs for energy and minerals, natural resources and conservation,
                marine transportation and infrastructure, and economics and commerce.
            </div>
                <br>
            Exporting options for a report include:<br>
            + Downloading as a PDF<br>
            + Printing<br>
            + Sharing<br>
                <br>
                <div class="orangeHead">LINKS</div>
            <hr width="50%" align="left">
            <a href="http://marinecadastre.gov/nationalviewer/">MarineCadastre.gov National Viewer v3.0</a><br>
            <a href="http://marinecadastre.gov/espis">Environmental Studies Program Information System (ESPIS)</a><br>
            <a href="https://coast.noaa.gov/snapshots/">NOAA's Coastal County Snapshots</a><br>
                </div>
        </div>
    </div>
</div>


