<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Anchorages</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a count of anchorages within 1 mile of the selected area and lists the type and percent of the area that it covers."
                            modal-img="img/info.svg"
                            modal-title="Anchorages"
                            modal-text="Although many larger vessels, such as those used for wind farm construction, might not need
                        to anchor, knowing the locations of anchorage areas is still wise. These areas are often
                        used by larger vessels when they need to find safer areas than shipping lanes or coastal
                        areas during extreme weather. Anchorage areas are also often used in case of emergency or
                        when vessels need to wait for a pilot boat or docking space in a port."
            ></info-directive>


        </div>


    </div>
    <div>
        <div class="infographic-dataarea">
            <span class="infographic-twosizeline--large"><ng-hide ng-hide="TIvm.AOI.TIAnchorage[0].TOTAL_CNT>=0">0
            </ng-hide>{{TIvm.AOI.TIAnchorage[0].TOTAL_CNT}}</span><span
                class="infographic-twosizeline--small"> within 1nm</span>

        </div>
        <div class="infographic-list infographic-list--pad" ng-repeat="x in TIvm.AOI.TIAnchorage">
            <div>{{x.Name}}

            </div>
            <div class="infographic-list--pad">Covers {{x.PERC_COVER.toFixed(2)}}% of area</div>
        </div>
    </div>
</div>
