<div class="infographic-box-tiny" tabindex="0">
    <div>


        <div class="infographicTitle">
            <div class="floatitleft">Danger Zones</div>
            <!-- iButton start-->
            <div class="floatitleft">
                <info-directive class="infobutton mainbutton" modal-template="modal49.html" message="message"
                                modal-img="img/info.svg"></info-directive>

                <script type="text/ng-template" id="modal49.html">
                    <div id="custom-modal" class="modal">
                        <div id="overlay">
                            <a href="" class="modal-close" ng-click="close('Cancel')">
                                <svg class="" viewBox="0 0 24 24">
                                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                </svg>
                            </a>
                            Danger Zones and Restricted Areas are water areas used by the government, normally the armed
                            forces, for hazardous operations or to protect the public from incidences potentially
                            arising from those operations.

                            <br>


                        </div>
                        <div id="fade"></div>
                    </div>
                </script>

            </div>
            <!-- iButton end-->
            <div id="slider_but49" class="inlinesliderbutton" ng-hide="AOI.toggleFull===true">
                <div ng-class="AOI.TIDangerZonesIsVisable ? 'flip' : 'rotateCounterwise180'"
                     ng-click="AOI.toggleTIDangerZones()" ng-include="'img/switch_off.svg'"></div>
            </div>

        </div>
        <div>
            <div class="GreyText14 floatitleft padLeft15 w100">
                <span class="boemline2b"><ng-hide ng-hide="AOI.TIDangerZones[0].TOTAL_CNT>=0">0</ng-hide>{{AOI.TIDangerZones[0].TOTAL_CNT}}</span><span
                    class="boemline2a"> within 1nm</span>

            </div>
            <div class="GreyText12 floatitleft padLeft15 w70" ng-repeat="x in AOI.TIDangerZones">
                <div>{{x.boundaryType}} - {{x.agencyOfUse}}
                    <svg width="15" height="15" class="danger_svg">
                        <rect width="15" height="15" ng-class="x.Style"/>
                    </svg>
                </div>
                <div class="padLeft15">Covers {{x.PERC_COVER.toFixed(2)}}% of area</div>
            </div>
        </div>
    </div>
