<div class="infographic-box infographic-box--medium" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Principal Ports</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element lists the 2 closest ports to the selected area with tonnage. Distance to the selected area is represented by a line graph with gray anchors representing each port."
                            modal-img="img/info.svg"
                            modal-title="Principal Ports"
                            modal-text="These ports represent the top 150 ports based on total tonnage for the year. Certain
                        projects may require a large port to conduct transactions."
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="TIvm.AOI.toggleFull===true">
            <div ng-class="TIvm.AOI.TIPrincipalPortsIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="TIvm.AOI.toggleTIPrincipalPorts()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="TIvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div>
        <div class="ports">
            <span class="infographic-twosizeline--large">2</span><span
                class="infographic-twosizeline--small"> Closest</span>
            <div class="star">
                <div class="star-img">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                            <polygon fill="#F07B08" points="50,7.24 63.893,35.392 94.958,39.906 72.479,61.816 77.787,92.76 50,78.151 22.213,92.76 27.521,61.816 5.042,39.906 36.108,35.392 "/>
                        </svg>

                </div>
                <div class="anchor-box"><img class="anchor-distance" src="img/transportation-anchor.svg">
                    <div class="distance-text">{{TIvm.AOI.TIPrincipalPorts[0].Dist_Mi.toFixed(2)}} miles</div>
                </div>
                <div class="anchor-box"><img class="anchor-distance" src="img/transportation-anchor.svg">
                    <div class="distance-text">{{TIvm.AOI.TIPrincipalPorts[1].Dist_Mi.toFixed(2)}} miles</div>
                </div>
            </div>

        </div>

        <div class="infographic-list"
             ng-repeat="x in TIvm.AOI.TIPrincipalPorts| orderBy : 'Dist_Mi'">
            <img class="anchor-img" src="img/transportation-anchor.svg">{{x.PortName}} - {{x.Total| number}} tonnage
        </div>
    </div>

</div>

