<div class="infographic-box infographic-box--small" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Shipping Lanes</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a count of shipping lanes within 1 mile of the selected area and a list of the type of shipping lane represented."
                            modal-img="img/info.svg"
                            modal-title="Shipping Lanes"
                            modal-text="Shipping zones delineate activities and regulations for marine vessel traffic. The presence
                        of shipping lanes or precautionary areas may influence the kind of work that may be
                        conducted within the delineated area."
            ></info-directive>


        </div>

    </div>
    <div>
        <div class="infographic-list infographic-list--pad">
                <span class="infographic-twosizeline--large"><ng-hide ng-hide="TIvm.AOI.TIShippingTotal>=0">0
                </ng-hide>{{TIvm.AOI.TIShippingTotal}}</span><span
                class="infographic-twosizeline--small"> within 1nm</span>

        </div>
        <div class="infographic-list infographic-list--pad" ng-repeat="x in TIvm.AOI.TIShipping">
            {{x.THEMELAYER}} - {{x.THEMELAYER_CNT}}
        </div>
    </div>
</div>
