<div class="infographic-box infographic-box--tiny" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">Submarine Cables</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext="Element contains a count of the submarine cables within the selected area and a list of who owns them and their current service state."
                            modal-img="img/info.svg"
                            modal-title="Submarine Cables"
                            modal-text="Submarine cables represent cables and information gathered from NASCA and digitized NOAA
                        nautical charts. Cables within an area of interest may require avoidance during any
                        construction projects or anchoring."
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="TIvm.AOI.toggleFull===true">
            <div ng-class="TIvm.AOI.TISubmarineIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="TIvm.AOI.toggleTISubmarine()" ng-include="'img/switch_off.svg'"></div>

        </div>
        <div class="layertoggle-text" ng-hide="TIvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>

    </div>
    <div>

        <div class="infographic-line">
            <div class="line-img">
                <img src="img/svg-elements_submarine-cable.svg">
            </div>
            <span class="infographic-twosizeline--large"><ng-hide ng-hide="TIvm.AOI.TISubmarine[0].TOTAL_CNT>=0">&nbsp;0
            </ng-hide>&nbsp;{{TIvm.AOI.TISubmarine[0].TOTAL_CNT}}</span>
           <span
                   class="infographic-twosizeline--small"> Cables within 1nm</span>
        </div>


        <div class="infographic-list infographic-list--pad"
             ng-repeat="x in TIvm.AOI.TISubmarine| orderBy : 'OwnerStatus'| unique: 'OwnerStatus'">
            {{x.OwnerStatus}}
        </div>
    </div>
</div>
