<div class="infographic-box infographic-box--small" tabindex="0">
    <div class="infographic-title">
        <div class="infographic-text">{{TIConf.name}}</div>
        <!-- iButton start-->
        <div class="iModal">
            <info-directive class="iModal-button" modal-template="ModalTemplate.html" message="message"
                            alttext={{TIConf.alttext}}
                            modal-img="img/info.svg"
                            modal-title={{TIConf.name}}
                            modal-text={{TIConf.modaltext}}
            ></info-directive>


        </div>
        <!-- iButton end-->
        <div class="layertoggle-button" ng-hide="TIvm.AOI.toggleFull===true">
            <div ng-class="TIvm.AOI.TIVesselLayerIsVisible ? 'layertoggle-button--on' : 'layertoggle-button--off'"
                 ng-click="TIvm.AOI.toggleTIVesselLayer()" ng-include="'img/switch_off.svg'"></div>
        </div>
        <div class="layertoggle-text" ng-hide="TIvm.AOI.toggleFull===true">DISPLAY ON MAP
        </div>
    </div>
    <div class="infographic-narrative infographic-narrative--left" bind-html-compile="TIConf.narrativetext">
    </div>
    <div>
        <div class="infographic-list infographic-list--pad " ng-hide="TIvm.AOI.TIVessel.length">No Data</div>
        <div class="infographic-list infographic-list--pad">

            <div class="vessel">
                <div class="vessel-1"><img ng-show="TIvm.AOI.TIVessel[0].all_2011_avg===0" class="vessel-img"
                                           src="img/transportation-ship.svg"></div>
                <div class="vessel-num">0</div>
            </div>
            <div class="vessel">
                <div class="vessel-2"><img
                        ng-show="((TIvm.AOI.TIVessel[0].all_2011_avg>=1) &&(TIvm.AOI.TIVessel[0].all_2011_avg<=75))"
                        class="vessel-img" src="img/transportation-ship.svg"></div>
                <div class="vessel-num">1-75</div>
            </div>
            <div class="vessel">
                <div class="vessel-3"><img
                        ng-show="((TIvm.AOI.TIVessel[0].all_2011_avg>=76) &&(TIvm.AOI.TIVessel[0].all_2011_avg<=250))"
                        class="vessel-img" src="img/transportation-ship.svg"></div>
                <div class="vessel-num">76-250</div>
            </div>
            <div class="vessel">
                <div class="vessel-4"><img
                        ng-show="((TIvm.AOI.TIVessel[0].all_2011_avg>=251) &&(TIvm.AOI.TIVessel[0].all_2011_avg<=750))"
                        class="vessel-img" src="img/transportation-ship.svg"></div>
                <div class="vessel-num">251-750</div>
            </div>
            <div class="vessel">
                <div class="vessel-5"><img
                        ng-show="((TIvm.AOI.TIVessel[0].all_2011_avg>=751) &&(TIvm.AOI.TIVessel[0].all_2011_avg<=1500))"
                        class="vessel-img" src="img/transportation-ship.svg"></div>
                <div class="vessel-num">751-1500</div>
            </div>
            <div class="vessel">
                <div class="vessel-6"><img ng-show="TIvm.AOI.TIVessel[0].all_2011_avg>=1501" class="vessel-img"
                                           src="img/transportation-ship.svg"></div>
                <div class="vessel-num">More than 1500</div>
            </div>

        </div>
    </div>
    <div class="infographic-rulelogic" bind-html-compile="TIConf.ruletext">
    </div>
</div>
