
.footer {
  font-size: 11px;
  color: @ortGrey-Light;
  height: 20px;
  width: 200%;
  background: @ortGrey-Dark;
  clear: both;
  margin-left: -100%;
  &:hover {
    color: @colorWhite;
  }

}

.footer a:link {
  font-size: 11px;
  color: @ortGrey-Light;
  height: 20px;
  background: @ortGrey-Dark;
  clear: both;
  &:hover {
    color: @colorWhite;
  }
}

.footer a:visited {
  font-size: 11px;
  color: @ortGrey-Light;
  height: 20px;
  background: @ortGrey-Dark;
  clear: both;
  &:hover {
    color: @colorWhite;
  }
}

.footer--left {
  float: left;
}

.footer--right {
  float: right;
}
