/**************************************
	PRINT STYLES
**************************************/
@media screen {
  #printSection {
    display: none;
  }
}

@media print and (min-width: 211mm) and (max-width: 216mm) {
  .printable-width {
    width: 6.875in !important;
  }
}

/*Printing tweak using A4 paper*/
@media print and (max-width: 210mm) {
  .printable-width {
    width: 170mm !important;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printSection, #printSection * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
    page-break-inside: avoid;
  }

  #printSection {
    page-break-after: auto;

    page-break-before: auto;
  }
  #printSection:last-child {

    page-break-after: auto;


  }
}
@page {
  margin-top: 0.75in;
  margin-bottom: 0.75in;
  margin-left: 0.75in;
  margin-right: 0.75in;
}