/**************************************
	PRINT STYLES
**************************************/
@media screen {
  #printSection {
    display: none;
  }
}

@media print and (min-width: 211mm) and (max-width: 216mm) {
  .printable-width {
    width: 6.875in !important;
  }
}

/*Printing tweak using A4 paper*/
@media print and (max-width: 210mm) {
  .printable-width {
    width: 170mm !important;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .header, .header * {
    display: none;
  }

  .nav_bar, .nav_bar * {
    display: none;
  }

  #bigmap, #bigmap * {
    display: none;
  }

  .h900, .h900 * {
    display: none;
  }

  #foot, #foot * {
    display: none;
  }

  .ng-pageslide, .ng-pageslide * {
    display: none;
  }

  .slide-right, .slide-right * {
    display: none;
  }

  .clear {
    clear: left;
  }

  .AOItabClass {
    page-break-before: always;
  }

  #printSection, #printSection * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  .zeroheightkludge, .zeroheightkludge * {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .metatable {
    margin-bottom: 0px;
    font-size: 12px;
  }

  .metaline1, .metaline1 * {
    page-break-inside: avoid;
    break-inside: avoid;

  }

  .pwrbox, .pwrbox * {
    widows: 5;
    page-break-inside: avoid;
    break-inside: avoid;

  }

  #printSection {
  }

  #printSection:last-child {
  }

}

@page {
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}