.smallmapclass {
  height: 280px; //60%;
  width: 312px; //100%;
}

/****************************************


*****************************************/

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.windmillbox {
  width: 190px;
  height: 239px;
  position: relative;
  z-index: 50;
  bottom: 40px;
  overflow: hidden;
}

.windmill {
  width: 190px;
  height: 239px;
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
}

.WindChartContainer {
  height: 231px;
  width: 190px;
  position: relative;
  bottom: 271px;
}

.ng-pageslide {
  float: right;
  min-height: 955px;
  background: @colorWhite;
}


.h900 {
  min-height: 900px;
}

body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: @colorBlack;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 1s;
}

body.ng-pageslide-body-closed::before {
  transition: opacity 1s;
  opacity: 0;
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: @colorBlack;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.sBox {
  background: @ortBlue-Pale;
  padding: 10%;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
}

.wrbox1 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: @ortOrange;
  padding-bottom: 8px;
}

.pwrbox {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: @ortOrange;
  padding-bottom: 8px;
  height: 276px;
}

.line1a {
  float: left;
  padding-top: 15px;
  padding-left: 15px;
}

.metaline1 {
  font-size: 20px;
  color: @ortGrey-Dark;
}

.metaline2 {
  padding-left: 20px;
  font-size: 14px;
  color: @ortGrey-Dark;
}

.line2 {
  float: left;
  width: 500px;
  font-size: 14px;
  color: @ortGrey-Dark;
  z-index: 100;
  position: relative;
  left: 135px;
  top: 20px;
}

.spacer {
  float: left;
  width: 12%;
}

.floatitleft {
  float: left;
}

.a_1979 {
  background-color: @colorMediumRedViolet;
  fill: @colorMediumRedViolet;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1980 {
  background-color: @colorJacksonsPurple;
  fill: @colorJacksonsPurple;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1981 {
  background-color: @colorDeepMagenta;
  fill: @colorDeepMagenta;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1982 {
  background-color: @colorBlackcurrant;
  fill: @colorBlackcurrant;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1983 {
  background-color: @colorHarlequin;
  fill: @colorHarlequin;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1984 {
  background-color: @colorPizza;
  fill: @colorPizza;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1985 {
  background-color: @colorFreeSpeechMagenta;
  fill: @colorFreeSpeechMagenta;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1986 {
  background-color: @colorChateauGreen;
  fill: @colorChateauGreen;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1987 {
  background-color: @colorTurquoise;
  fill: @colorTurquoise;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1988 {
  background-color: @colorWasabi;
  fill: @colorWasabi;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1989 {
  background-color: @colorFreeSpeechGreen;
  fill: @colorFreeSpeechGreen;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1990 {
  background-color: @colorJazzberryJam;
  fill: @colorJazzberryJam;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1991 {
  background-color: @colorMediumSlateBlue;
  fill: @colorMediumSlateBlue;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1992 {
  background-color: @colorTyrianPurple;
  fill: @colorTyrianPurple;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1993 {
  background-color: @colorWildWatermelon;
  fill: @colorWildWatermelon;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1994 {
  background-color: @colorHeliotrope;
  fill: @colorHeliotrope;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1995 {
  background-color: @colorBlueBell;
  fill: @colorBlueBell;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1996 {
  background-color: @colorOlivetone;
  fill: @colorOlivetone;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1997 {
  background-color: @colorHanPurple;
  fill: @colorHanPurple;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1998 {
  background-color: @colorOchre;
  fill: @colorOchre;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_1999 {
  background-color: @colorLimerick;
  fill: @colorLimerick;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2000 {
  background-color: @colorFreeSpeechBlue;
  fill: @colorFreeSpeechBlue;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2001 {
  background-color: @colorDarkSpringGreen;
  fill: @colorDarkSpringGreen;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2002 {
  background-color: @colorCaribbeanGreen;
  fill: @colorCaribbeanGreen;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2003 {
  background-color: @colorSandyBrown;
  fill: @colorSandyBrown;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2004 {
  background-color: @colorDarkMagenta;
  fill: @colorDarkMagenta;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2005 {
  background-color: @colorSpringRain;
  fill: @colorSpringRain;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2006 {
  background-color: @colorPurpleHeart;
  fill: @colorPurpleHeart;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2007 {
  background-color: @colorScreaminGreen;
  fill: @colorScreaminGreen;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2008 {
  background-color: @colorRazzleDazzleRose;
  fill: @colorRazzleDazzleRose;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2009 {
  background-color: @colorRichBlue;
  fill: @colorRichBlue;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2010 {
  background-color: @colorDarkOrchid;
  fill: @colorDarkOrchid;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2011 {
  background-color: @colorBlueBayoux;
  fill: @colorBlueBayoux;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2012 {
  background-color: @colorGimblet;
  fill: @colorGimblet;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2013 {
  background-color: @colorContessa;
  fill: @colorContessa;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2014 {
  background-color: @colorAmazon;
  fill: @colorAmazon;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2015 {
  background-color: @colorCopper;
  fill: @colorCopper;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2016 {
  background-color: @colorCerise;
  fill: @colorCerise;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2017 {
  background-color: @colorSulu;
  fill: @colorSulu;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2018 {
  background-color: @colorDowny;
  fill: @colorDowny;
  stroke-width: 1;
  stroke: @colorBlack;
}

.a_2019 {
  background-color: @colorShamrock;
  fill: @colorShamrock;
  stroke-width: 1;
  stroke: @colorBlack;
}

.GreyText14 {
  font-size: 14px;
  color: @ortGrey-Dark;
}

.GreyText12 {
  font-size: 12px;
  color: @ortGrey-Dark;
}

.GreyText10 {
  font-size: 10px;
  color: @ortGrey-Dark;
}

.GreyText9 {
  font-size: 9px;
  color: @ortGrey-Dark;
}

.GreenText16 {
  font-size: 16px;
  color: @colorBilbao;
}

.RedText16 {
  font-size: 16px;
  color: @colorFireEngineRed;
}

.PaleText14 {
  font-size: 14px;
  color: @ortBlue-Pale;
  background-color: @ortGrey-Dark;
}

.blackBoldText14 {
  font-size: 14px;
  color: @colorBlack;
  font-weight: 700;
  background-color: @colorBaliHai;
}

.Greychart {
  background-color: @ortGrey-Background;
  text-align: center;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  border-collapse: separate;

}

.infobutton {
  height: 20px;
  text-align: left;
}

.infobutton.mainbutton .infoicon-1 {
  stroke: @colorBlack;
}

.infobutton.mainbutton .infoicon-2 {
  stroke: @colorBlack;
}

.infobutton.mainbutton .infoicon-3 {
  stroke: @colorBlack;
}

.line3 {
  width: 440px;
  color: @colorBlack;
  z-index: 100;
  position: relative;
  left: 200px;
  top: 140px;
  background: @colorBlack;
  vertical-align: middle;
}

.line3a {
  width: 300px;
  height: 100px;
  font-family: 'Open Sans';
  font-size: 12px;
  color: @ortGrey-Dark;
  position: absolute;

}

.stackedlines {
  font-family: 'Open Sans';
  font-size: 12px;
  color: @ortGrey-Dark;
  position: relative;
}

.stackedlineicon {
  height: 14px;
  width: 20px;
  position: relative;
  top: 3px;

}

.house-color {
  fill: @ortGrey-Dark;
  width: 96px;
  height: 96px;
  -webkit-filter: drop-shadow(0px 2px 2px fade(@colorBlack, 50%));
  filter: drop-shadow(0px 2px 2px fade(@colorBlack, 50%)); /* Same syntax as box-shadow */
  float: right;
}

.infographic-box-small {
  background: @ortBlue-Pale;
  min-height: 284px;
  width: 312.8px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.infographic-box-tiny {
  background: @ortBlue-Pale;
  min-height: 121px;
  width: 312.8px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.infographic-box-medium {
  background: @ortBlue-Pale;
  min-height: 284px;
  width: 645px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.infographic-box-medium-b {
  background: @ortBlue-Pale;
  height: 284px;
  width: 645px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.infographic-box-large {
  background: @ortBlue-Pale;
  min-height: 568px;
  width: 645px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.zeroheightkludge {
  height: 0px;
}

.boemline2a {
  font-family: 'Open Sans';
  font-size: 12px;
  color: @ortGrey-Dark;
  vertical-align: bottom;
  line-height: 23px;

}

.boemline2a a:link, a:visited {
  color: @noaaBlue-dark;
}

.boemline2b {
  font-family: 'Open Sans';
  font-size: 21px;
  color: @ortGrey-Dark;
  vertical-align: bottom;
}

.padLeft15 {
  padding-left: 15px;
}

.padLeft25 {
  padding-left: 25px;
}


.boemline2 {
  width: 312.8px;
  padding-left: 12px;
  vertical-align: bottom;
}

.toggleimg {
  transform: rotate(0deg);
}

.toggleicon {
  width: 43px;
  height: 43px;
  position: fixed;
  margin-left: -25px;
  top: 470px;
  z-index: 9998;
  overflow-y: visible;
  overflow-x: visible;
}

.AOItabClass {
  font-size: 20px;
  color: @ortOrange;
  padding: 10px;
}

.AOItabClassPrint {
  font-size: 20px;
  color: @ortOrange;
  padding: 10px;
}

.AOItabClass2 {
  font-size: 20px;
  float: left;
  color: @ortOrange;
  display: none;
}

.AOItabClass3 {
  font-size: 20px;
  color: @ortOrange;
}

.overlay {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 25px;
  border: 2px solid @colorBlack;
  background-color: @colorWhite;
  width: 50%;
  z-index: 9999;
}

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: @colorBlack;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}

.custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}

.custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}

.custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}

.modal-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background: fade(@colorBlack, 30%);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-close svg {
  width: 24px;
  height: 24px;
  fill: @colorWhite;
  pointer-events: none;
  vertical-align: top;
}

.modal-close:hover {
  background: fade(@colorBlack, 60%);
}

.footnote {
  font-size: 62.5%;
}

.sText {
  font-size: 14px;
  color: @ortGrey-Dark;
}

.orangeHead {
  font-size: 20px;
  color: @ortOrange;
}

.blackimg #Page-1 {
  stroke: @colorBlack;
  fill: @colorBlack;
}

.menuBoxlight {
  background: @ortBlue-Pale;
  padding: 6px;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%); //cof
  text-align: center;
  margin-bottom: 1px;
  width: 100%;
}

.menuBoxdark {
  background: @colorAliceBlue;
  padding: 6px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px fade(@colorGrey-BoxShadow, 50%); //cof
  text-align: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px;
  margin-bottom: 1px;
  font-weight: 300;
  &:hover {
    background-color: @ortBlue-Pale;
    border: none;
    font-weight: 400;
  }
}

.menuboxofboxes {
  margin-top: 3px;
  margin-left: 50px;
}

.areasicon {
  float: left;
  height: 23px;
}

.rotate,
.rotateCounterwise {
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotateCounterwise {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pluscloseIcon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.splashtitleimg {
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 357px;

}

.splashtitle {
  text-align: center;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
}

.rotateCounterwise180 {
  -webkit-transform: rotate(0deg);
  .trackclass {
    fill: @ortGrey-Dark;
    opacity: 1; //cof
    box-shadow: 0px 0px 1px 0px fade(@colorBlack, 12%), 0px 1px 1px 0px fade(@colorBlack, 24%);
  }
  .knobclass {
    fill: @colorWhite;
    box-shadow: 0px 0px 1px 0px fade(@colorBlack, 12%), 0px 1px 1px 0px fade(@colorBlack, 24%);
  }

}

.flip {
  -moz-transform: scaleX(-1); /* Gecko */
  -o-transform: scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1); /* Standard */
  filter: FlipH; /* IE 6/7/8 */
  .trackclass {
    fill: @ortOrange;
    opacity: .5;
    box-shadow: 0px 0px 1px 0px fade(@colorBlack, 12%), 0px 1px 1px 0px fade(@colorBlack, 24%);
  }
  .knobclass {
    fill: @ortOrange;
    box-shadow: 0px 0px 1px 0px fade(@colorBlack, 12%), 0px 1px 1px 0px fade(@colorBlack, 24%);
  }

}

.sliderbutton {
  float: right;
  padding-top: 11px;
  padding-right: 15px;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 10px;
  color: @colorAlmostBlack;
}

.sliderbuttontext {
  float: right;
  padding-top: 16px;
  padding-right: 15px;
  text-align: middle;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: normal;
  color: @colorGrey;
}

.sliderbuttont2 {
  float: right;
  padding-top: 5px;
  padding-right: 15px;
  text-align: middle;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: normal;
  color: @colorGrey;
}

.swatch {
  width: 73px;
  height: 66px;
  padding-left: 12px;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 12px;
  color: @colorAlmostBlack;
  background-repeat: no-repeat;
}

//index.html
.padding-none {
  padding: 0px;
}

.w100 {
  width: 100%;
}

.w200 {
  width: 200px;
}

.w265 {
  width: 265px;
}

.w35 {
  width: 35%;
}

.w38 {
  width: 38%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w10 {
  width: 10px;
}

.w50 {
  width: 50%;
}

//EM_BeachNourishment.html
.iButtoncontainer {
  height: 19px;
}

.oddrow {
  background-color: @colorWhiteSmoke;
  text-align: center;
  width: 165px;
  border: 1px solid @colorWhite;
}

.evenrow {
  text-align: center;
  width: 165px;
  border: 1px solid @colorWhite;
}

.padtop5 {
  padding-top: 5px;
}

.padtop40 {
  padding-top: 40px;
}

.padtop20 {
  padding-top: 20px;
}

.beachswatchimg {
  width: 85%;
  padding-bottom: 8px
}

.table_beachnourishmentchart {
  border: 2px solid @colorWhite;
}

.table_beachnourishmentchartrow {
  width: 367px;
}

.beachnourishchartbar {
  height: 5px;
}

.beachnourishchartscale {
  width: 600px;
}

.beachnourishchartscalenull {
  height: 8px;
  width: 165px;
}

.beachnourishchartscale0 {
  width: 185px;
}

.beachnourishchartscale1 {
  width: 168px;
}

.beachnourishchartscale3 {
  width: 50px;
}

.beachnourishchartyear {
  width: 15%;
  padding-bottom: 8px;
}

.beachnourishchartyearbox {
  height: 38px;
}

//CommonElements.html
.padding30 {
  padding: 30px;
}

.slide-right {
  margin-top: 55px;
  background: @colorWhite;
}

//CE_Elevation.html

.floatitright {
  float: right;
}

.infographicline1 {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.infographicTitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: @ortOrange;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.inlinesliderbutton {
  float: right;
  padding-right: 30px;
}

.infolisthead {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: @ortGrey-Dark;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.infolist {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: @ortGrey-Dark;
}

.infolistitem {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: @ortGrey-Dark;
  margin-left: 15px;
}

.infomenu {
  margin: 25px;
}

.infoDropDownMenu {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: @colorWhite;
  background-color: @ortBlue-light;
  overflow: auto;
}

.infoDropDownMenu2 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: @colorWhite;
  overflow: auto;
}

.infoDropDownList {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: @ortGrey-Dark;
  background-color: @colorWhite !important;
  padding-left: 10px;
}

.boundaryItem {
  width: 98%;
  height: 20px;
  background-color: @ortBlue-light;
  padding-left: 10px;
}

.infomenuspacer {
  height: 10px;
}

.infomenuplus {
  float: right;
  padding-right: 5px;
}

.CommonSwatchLine {
  font-size: 15px;
  color: @ortGrey-Dark;
}

.CEElevationData {
  padding-top: 3px;
  padding-left: 95px;
  width: 200px;
}

//EM_CurrentPower.html
.Leftbox60 {
  width: 60%;
}

.padbottom16 {
  padding-bottom: 16px;
}

.padbottom10 {
  padding-bottom: 10px;
}

.powerscale {
  width: 386px;
  height: 45px;
}

.powerscale2 {
  width: 387px;
  height: 50px;
}

.powerscalediv {
  border-color: @colorSolitude;
  border-left-style: solid;
  border-width: 2px;
  width: 41px;
  height: 45px;
  position: relative;
  z-index: 1;
}

.powerscalenum {
  width: 385px;
  height: 20px;
}

.powerscalenum2 {
  width: 41px;
  height: 20px;
}

.powergraphbar {
  background-color: @colorRoyalBlue;
  height: 20px;
  position: relative;
  top: -57px;
}

.text-center {
  text-align: center;
}

.powerchartswatch {
  top: 59px;
  position: relative;
}

//EM_TidalPower.html
.tpowerscale {
  width: 386px;
  height: 17px;
}

.tpowerscalediv {
  border-color: @colorSolitude;
  border-left-style: solid;
  border-width: 2px;
  width: 75px;
  height: 45px;
  position: relative;
  z-index: 1;
}

.tpowerscalenum2 {
  width: 77px;
  weight: 20px;
}

.tpowergraphbar {
  background-color: @colorGrey;
  height: 20px;
  position: relative;
  top: -57px;
}

//EM_WavePower.html
.wpowerscalediv {
  border-color: @colorSolitude;
  border-left-style: solid;
  border-width: 2px;
  width: 68px;
  height: 45px;
  position: relative;
  z-index: 1;
}

.wpowerscale2 {
  width: 420px;
  height: 50px;
}

.wpowerscalenum2 {
  width: 68px;
  height: 20px;
}

.wpowerscalenum {
  width: 420px;
  height: 20px;
}

.wpowergraphbar {
  background-color: @colorGrey;
  height: 20px;
  position: relative;
  top: -57px;
}

.h100 {
  height: 100%;
}

.h100px {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.h150 {
  height: 150px;
}

//printPreview.html
.overflowauto {
  overflow: auto;
}

//splash.html
.valign-middle {
  vertical-align: middle;
}

//EM_SurficialSediment.html

.SedimentChart {
  width: 70%;
  text-align: center;
  box-shadow: 2px 2px 2px 0px fade(@colorGrey-BoxShadow, 50%);
  margin-bottom: 4px;
  margin-left: 11px;
}

.SedimentCenteredData {
  float: left;
  position: relative;
  left: 50%;
  width: 0;
}

.SedimentBar {
  height: 19px;
  background-color: @colorVisVis;
}

.SedimentchartType {
  width: 25%;
  box-shadow: 2px 2px 2px 0px fade(@colorGrey-BoxShadow, 50%);
}

.marginleft5px {
  margin-left: 5px;
}

//EM_HydrokineticLeases.html
.infographicline2 {
  height: 70px;
  width: 312.8px;
  padding-left: 12px;
  vertical-align: bottom;
}

// EM_WindResourcePotential.html
.windmillbinary {
  border-style: none;
  height: 231px;
  width: 190px;
  position: relative;
  bottom: 237px;
}

.infographicline3 {
  width: 312.8px;
  padding-left: 12px;
  vertical-align: bottom;
}

.GreychartBorder {
  border: 1px solid @colorLightGrey;
  height: 20px;
}

.GreychartBorder40 {
  border: 1px solid @colorLightGrey;
  height: 20px;
  width: 120px;
}

.GreychartBorder60 {
  border: 1px solid @colorLightGrey;
  height: 20px;
  width: 155px;
}

//EM_OG_resourcePotential.html
.OGTablebox {
  height: 10px;
  width: 315px;
}

.OGTableLabel {
  width: 288px;
  border: 1px solid @colorLightGrey;
}

.OGTable {
  width: 603.8px;
}

.OGTableBorderShort {
  border: 1px solid @colorLightGrey;
  height: 20px;
  width: 95px;
}

.OGTableBorderLong {
  border: 1px solid @colorLightGrey;
  height: 20px;
  width: 315px;

}

//EM_OG_CoastalEnergyFacilities.html
.CoastalEnergyspace {
  height: 30px;
  width: 315px;
}

.CoastalEnergyTable {
  width: 603.8px;
}

//CE_Area.html
.CEAreaData {
  padding-left: 95px;
  width: 200px;
}

.stateandFedchart {
  background-color: @ortBlue-Pale;
  fill: @ortBlue-Pale;
  width: 66%;
  height: 235px;
  float: right;
  position: relative;
  top: -20px;
}

.stateandFedchart .highcharts-background {
  fill: @ortBlue-Pale;
}

.CommonlineSwatchLine {
  font-size: 15px;
  color: @ortGrey-Dark;
}

.TILineData {
  padding-left: 70px;
}

.lineswatch {
  width: 48px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 12px;
  color: @colorAlmostBlack;
  background-repeat: no-repeat;
  overflow: hidden;
}

.GreyText16 {
  font-size: 16px;
  color: @ortGrey-Dark;
}

.c_NASA {
  background-color: @colorDenim;
  fill: @colorDenim;
}

.c_orce { //Air Force
  background-color: @colorSkyBlue;
  fill: @colorSkyBlue;
}

.c_Army {
  background-color: @colorSchoolBusYellow;
  fill: @colorSchoolBusYellow;
}

.c_orps { //marine Corps
  background-color: @colorFreeSpeechRed;
  fill: @colorFreeSpeechRed;
}

.c_Navy {
  background-color: @colorSapphire;
  fill: @colorSapphire;
}

.c_uard { //Coast Guard
  background-color: @colorCarrotOrange;
  fill: @colorCarrotOrange;
}

.c_nown { //unknown
  background-color: @colorDarkGray;
  fill: @colorDarkGray;
}

.danger_svg {
  float: right;
}

.narrative {
  color: @ortGrey-Dark;
  font-size: 14px;
  max-width: 751.5px;
  margin-bottom: 10px;
}

.h20 {
  height: 20px;
}

.h12 {
  height: 12px;
}

.menutitle {
  height: 100%;
  padding-top: 20px;
}

.doublemenubox {
  width: 46%;
  margin-left: 17px;
  margin-bottom: 8px;
  background-color: @colorWhite;
}

.w79 {
  width: 79%;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.metaTable {
  margin-bottom: 30px;
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
}

.metaTable tr {
  border: 1px solid @colorBlack;
  padding: 5px;
}

.metaTable td {
  border: 1px solid @colorBlack;
  padding: 5px;
  word-wrap: break-word

}

.metaTable th {
  border: 1px solid @colorBlack;
  padding: 5px;

}

.metaTableCol1 {
  width: 30%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 65px;
  background-color: @ortGrey-Dark;
  color: @colorWhite;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1002;
  bottom: 135%;
  left: 50%;
  margin-left: -21px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: @colorBlack transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.OceanJobEmployeesChart {
  border: 1px solid @colorBlack;
  width: 283px;
  height: 220px;
  margin-left: 10px;
}

.OceanJobDollarsChart {
  border: 1px solid @colorBlack;
  width: 329px;
  height: 220px;
  margin-left: 10px;
}

.OceanJobContributionsChart {
  fill: @ortBlue-Pale;
  width: 625px;
  margin-left: 10px;
  .highcharts-background {
    fill: @ortBlue-Pale;
  }
}

.JobChartPieName {
  float: left;
  font-size: 12px;
  font-weight: 400;
  color: @ortGrey-Dark;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.politicallist {
  width: 50%
}

.inheritcolor {
  color: inherit;
}

.backgroundortblue {
  background-color: @ortBlue-Pale !important;
}

.h310 {
  height: 310px;
}

.circleicon {
  height: 14px;
  width: 20px;
}

.padding15 {
  padding: 15px;
}

.placesTable {
  width: 100%;
  text-align: left;
}

.placesTable td {
  text-align: left;

}

.placesTable th {
  font-style: italic;
  text-align: left;
}

.tribeTable {
  width: 69%;
  text-align: left;
}

.tribeTable td {
  text-align: left;
}

.tribeTable th {
  font-style: italic;
  text-align: left;
}

.whale {
  color: @colorWhite;
  height: 96px;
  width: 100%;
  background-image: url(../img/transportation-whale.svg);
  background-position: 41px -71px;
  background-size: 268px;
  background-repeat: no-repeat;
  text-align: center;
}

.Vessel1 {
  background-color: @colorSteelBlue;
  height: 20px;
  width: 50px;
  float: left;
}

.Vessel2 {
  background-color: @colorHeather;
  height: 20px;
  width: 50px;
  float: left;
}

.Vessel3 {
  background-color: @colorFrost;
  height: 20px;
  width: 50px;
  float: left;
}

.Vessel4 {
  background-color: @colorFrangipani;
  height: 20px;
  width: 50px;
  float: left;
}

.Vessel5 {
  background-color: @colorCrusta;
  height: 20px;
  width: 50px;
  float: left;
}

.Vessel6 {
  background-color: @colorHarleyDavidsonOrange;
  height: 20px;
  width: 50px;
  float: left;
}

.VesselNum {
  float: left;
  width: 50%;
  padding-left: 10px;
}

.VesselLine {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}

.ship {
  width: 50px;
  height: 50px;
  top: -15px;
  position: relative;
}

.anchor {
  width: 40px;
  height: 40px;
  position: relative;
  top: 13px;
}

.starline {
  width: 595px;
  height: 19px;
  position: relative;
  top: 13px;
  background-color: @colorPattensBlue;
  margin-left: 22px;
  margin-bottom: 38px;
  margin-top: 15px;
}

.star {
  position: relative;
  top: -20px;
  left: -27px;

}

.anchordistance {
  position: relative;
  top: -15px;
  height: 95px;
}

.anchorbox {
  position: relative;
  top: -81px;
  height: 95px;
  width: 100px;
  float: left;
  margin-left: 77px;
}

.distancetext {
  position: relative;
  top: -40px;
  text-align: center;
}

.h108 {
  height: 108px;
}

.padbottom25 {
  padding-bottom: 25px;
}

.CamelCase {
  text-transform: capitalize;
}

.infolisthead2 {
  color: @ortGrey-Dark;
  margin-bottom: 5px;
  padding-left: 15px;

}

.CoralNum {
  float: left;
  padding-left: 10px;
}

.CoralLine {
  width: 100%;
  float: left;
}

.Coral1 {
  background-color: @colorPaleTurquoise;
  height: 17px;
  width: 28px;
  float: left;
}

.Coral2 {
  background-color: @colorJordyBlue;
  height: 17px;
  width: 28px;
  float: left;
}

.Coral3 {
  background-color: @colorDodgerBlue;
  height: 17px;
  width: 28px;
  float: left;
}

.Coral4 {
  background-color: @colorPersianBlue;
  height: 17px;
  width: 28px;
  float: left;
}

.Coral5 {
  background-color: @colorUltramarine;
  height: 17px;
  width: 28px;
  float: left;
}

.censusTable {
  background-color: @colorWhite;
  width: 100%;
  text-align: left;
  border: 2px solid @colorLightGrey;
}

.censusTable td {
  text-align: center;

}

.censusTable tr {
  border: 1px solid @colorLightGrey;
}

.censusTable th {
  text-align: center;
}

.paddingtop60 {
  padding-top: 60px;
}

.partnership {
  text-align: right;
  top: 20px;
  padding-top: 25px;
}

.partnership p {
  font-size: 20px;
  position: relative;
  top: 5px;
  float: left;
  color: @colorDimGray;
}

.share-link {
  width: 100%;
}