<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Marine Cadastre: Ocean Reporting Tool</title>
    <meta name="description" content="SEO description of this app">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- iOS - mobile web app -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iOS - add specific name to home screen icon -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- Android - mobile web app-->
    <meta name="mobile-web-app-capable" content="yes"/>
    <!-- Windows mobile Phone specific -->
    <meta name="MobileOptimized" content="width">
    <!-- Windows task bar - Name a pinned site on Windows task bar -->
    <meta name="application-name" content="Sample Title">
    <!-- Windows task bar - give pinned site a tooltip -->
    <meta name="msapplication-tooltip" content="A description of what this site does.">
    <!-- Windows task bar - set default page for pinned site -->
    <meta name="msapplication-starturl" content="http://www.example.com/index.html?pinned=true">
    <!-- Windows task bar - Recolor IE's controls manually for a Pinned Site -->
    <meta name="msapplication-navbutton-color" content="#ff0000">
    <!-- Blackberry specific -->
    <meta name="HandheldFriendly" content="true">
    <!-- Disable implicit prefetching -->
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <!-- Facebook - controls the information sent to Open Graph when shared -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <!-- Twitter - controls the information sent to Twitter when shared -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site_account">
    <meta name="twitter:creator" content="@individual_account">
    <meta name="twitter:url" content="http://www.example.com/path/to/page.html">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://www.example.com/path/to/image.jpg">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- iOS specific tags -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-180x180-precomposed.png"/>

    <!-- Add start up image for iOS -->
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone 5 (Retina) SPLASHSCREEN-->
    <link href="apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (non-Retina) (Portrait) -->
    <link href="apple-touch-startup-image-768x1004.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)"
          rel="apple-touch-startup-image"/>
    <!-- iPad (non-Retina) (Landscape) -->
    <link href="apple-touch-startup-image-1024x748.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"
          rel="apple-touch-startup-image"/>
    <!-- iPad (Retina) (Portrait) -->
    <link href="apple-touch-startup-image-1536x2008.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <!-- iPad (Retina) (Landscape) -->
    <link href="apple-touch-startup-image-2048x1496.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>

    <!-- Android specific tags -->
    <link rel="shortcut icon" sizes="196x196" href="nice-highres.png">
    <link rel="shortcut icon" sizes="128x128" href="niceicon.png">

    <!-- Direct search spiders to site map if applicable -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <!-- Fonts -->

    <link rel="stylesheet" href="//coast.noaa.gov/assets/fonts/fonts.css">


    <!-- Application CSS file -->
    <link rel="stylesheet" href="css/ort.min.css?828193d72e2be05c">

    <!-- link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css"/ -->
    <!-- Google Analytics -->

    <script src="//coast.noaa.gov/js/federated-angularlitics.js?angular=true"></script>

    <script>

    </script>


</head>
<body>
<div class="header">
    <strong>Marine Cadastre</strong> Ocean Reporting Tool

    <info-directive modal-template="ModalTemplate.html" message="message" var-data="About" class="header-helpButton"
                    modal-title="About"
                    modal-img="img/info.svg"
                    modal-text="The Ocean Reporting Tool (Release B, Date:February 23,2017) is a component of
                    MarineCadastre.gov,
                    a partnership between the U.S.
                    Department of Commerce’s National Oceanic and Atmospheric Administration (NOAA) Office for
                    Coastal
                    Management and the U.S. Department of the Interior’s Bureau of Ocean Energy Management (BOEM).
                    To
                    learn more about MarineCadastre.gov go <a href='http://marinecadastre.gov/about/'
                    target='_blank'>here </a>
                    or <a href='mailto:info@marinecadastre.gov?Subject=OceanReporting' target='_blank'>Contact
                    Us</a>.<br><br>
                    <div class='logosgroup'>
                        <div class='logos'>
                            <div class='logos-spacer'></div>
                            <div class='logosleft'>
                                <img class='logosleft-img' src='img/BOEM_logo.svg'></div>
                            <div class='logos-text'>
                                45600 Woodland Road<br>
                                Sterling, VA 20166<br>
                                Phone: (703) 787-1315<br>
                            </div>
                        </div>
                        <div class='logos'>
                            <div class='logosright'>
                                <img class='logosright-img' src='img/NOAA_logo.svg'></div>
                            <div class='logos-text'>
                                Office for Coastal Management<br>
                                2234 South Hobson Avenue<br>
                                Charleston, South Carolina 29405-2413<br>
                                Phone: (843) 740-1200
                            </div>
                        </div>
                    </div>"
    ></info-directive>

</div>

<!-- MAIN CONTENT -->
<div class="wrapper" ng-controller="pageslideCtrl as vm">

    <script type="text/ng-template" id="ModalTemplate.html">
        <div class="modal">
            <div class="modal-overlay">
                <div class="modal-title">
                    <div class="modal-icon" ng-include="'img/imodal-window-icons-01.svg'"></div>
                    {{modaltitle}}
                    <a href="" class="modal-overlay--close" ng-click="close('Cancel')"
                       ng-include="'img/imodal-window-icons-02.svg'">
                    </a>
                </div>
                <div class="modal-text" tabindex="0" bind-html-compile="modaltext"></div>
            </div>
            <div class="modal-fade" ng-click="close('Cancel')"></div>
        </div>
    </script>


    <div class="inner">
        <div class="menu">
            <div class="menu-left">
                <button ui-sref="splash" class="menu-reset menu-border-right" ng-click="vm.startOver()" href=""
                        role="button">RESET
                </button>
                <button ui-sref="menu" class="menu-areas menu-border-right"
                        ng-class="vm.AOI.viewName === 'menu' ? 'menu--active':'menu--inactive'"
                        ng-click="vm.startMenu();vm.menuButtonActivate('menu')" href=""
                        role="button">KNOWN
                    AREAS
                </button>
                <button ui-sref="draw" class="menu-draw menu-border-right"
                        ng-class="vm.AOI.viewName === 'draw' ? 'menu--active':'menu--inactive'"
                        ng-click="vm.drawMenu();vm.menuButtonActivate('draw')" href=""
                        role="button">DRAW
                    AREA
                </button>
                <button class="menu-basemap menu-border-right"
                        ng-class="vm.basemapControlOn ? 'menu--active':'menu--inactive'"
                        ng-click="vm.toggleBasemapControl();" href=""
                        role="button">BASEMAP
                </button>

            </div>
            <div ng-cloak ng-show="vm.AOI.isLoaded" class="menu-right">

                <button ng-class="vm.AOI.viewName === 'CEview' ? 'menu--active':'menu--inactive'"
                        class="menu-rightbutton menu-border-right" role="button" ui-sref="CEview" href="">GENERAL<BR>
                    INFORMATION
                </button>
                <button ng-class="vm.AOI.viewName === 'EMview' ? 'menu--active':'menu--inactive'"
                        class="menu-rightbutton menu-border-right" role="button" ui-sref="EMview" href="">ENERGY &<br>
                    MINERALS
                </button>
                <button ng-class="vm.AOI.viewName === 'NRCview' ? 'menu--active':'menu--inactive'"
                        class="menu-rightbutton menu-border-right" role="button" ui-sref="NRCview" href="">NATURAL
                    RESOURCES &<BR>
                    CONSERVATION
                </button>
                <button ng-class="vm.AOI.viewName === 'TIview' ? 'menu--active':'menu--inactive'"
                        class="menu-rightbutton menu-border-right" role="button" ui-sref="TIview" href="">TRANSPORTATION
                    &<BR> INFRASTRUCTURE
                </button>
                <button ng-class="vm.AOI.viewName === 'ECview' ? 'menu--active':'menu--inactive'"
                        class="menu-rightbutton"
                        role="button" ui-sref="ECview" href="">ECONOMICS &<br> COMMERCE
                </button>

            </div>
        </div>
        <div class="lowerwindow">

            <ort-map zoom-level="vm.zoomlevel" draw-enabled="vm.drawtoolOn" draw-on="vm.drawOn"
                     draw-off="vm.drawOff" map="vm.AOI.map" basemap-control-enabled="vm.basemapControlOn"
                     search-control-enabled="vm.searchControlOn" mouse-over="vm.mouseOn" mouse-out="vm.mouseOff"
                     poly-layer-enabled="vm.polyLayerOn" reset-map="vm.resetMap" start-drawing="vm.startDrawing"
                     draw-button-text="vm.drawOrSubmitCommand" draw-it="vm.drawIt" basemap-on="vm.basemapOn"
                     basemap-off="vm.basemapOff"
                     map-half-screen="vm.mapHalfScreen" map-full-screen="vm.mapFullScreen">
            </ort-map>

            <div id="slide_div">
            </div>

            <div pageslide ps-open="vm.sidePanelVisible" ps-size="50%" ps-container="slide_div" ps-cloak="true"
                 ps-custom-top="55px" ng-style="{'width' : vm.AOI.sliderWidth}">
                <div ui-view class="h900"></div>

            </div>

        </div>
        <div class="footer">
            <div class="footer--left"><a target="_blank" href="https://www.commerce.gov/">United States
                Department of Commerce</a>
                | <a target="_blank" href="http://www.noaa.gov/">National Oceanic and Atmospheric
                    Administration</a>
                | <a target="_blank" href="http://oceanservice.noaa.gov/">National Ocean Service</a>
            </div>
            <div class="footer--right">
                <a href="//coast.noaa.gov/contactform/" target="_blank">Contact Us</a> | <a
                    href="//coast.noaa.gov/PrivacyPolicy/privacyPolicy.html" target="_blank">Privacy
                Policy</a>
                | <a href="" target="_blank">Link Disclaimer</a> | <a
                    href="http://usa.gov"
                    target="_blank">USA.gov</a>

            </div>
        </div>
    </div>


</div>


<!-- DO NOT INCLUDE SCRIPTS HERE, USE GRUNT. README! -->
<script src="js/ort.js?47e7b9ee450c0ef1"></script>


<!-- HTML5 Polyfil to help screen readers with HTML5 elements https://github.com/yatil/accessifyhtml5.js -->
<script>AccessifyHTML5();</script>

<script src="//coast.noaa.gov/js/angulartics.js"></script>
<script src="//coast.noaa.gov/js/angulartics-google-analytics.js"></script>

</body>
</html>
